<span *ngIf='!workAsFinder' class="c-title-switcher__button" (click)='openFinder($event)' >
  <span class="c-title-switcher__button-label">{{title}}</span>
  <span class="c-title-switcher__button-icon"></span>
</span>