<div class="c-widecol__performans-header">
    <h4>{{model.Name}} / {{model.Venue}}</h4>
    <div *ngFor="let performance of model.Performances">
        <span class="c-widecol__title">ETKİNLİK / PERFORMANS</span>
        <span class="c-widecol__event-title">{{performance.Name}}</span>
        <span class="c-widecol__event-date">{{performance.DateTime | date : 'dd MMMM, EEEE - hh:mm'}}</span>

        <div class="c-widecol__content">
            <div class="row">
                <ul class="detail">
                    <li class="clearfix">
                        <span>BÖLÜM / BLOK / KOLTUK</span>
                        <span>{{seatsFromPerformances(performance)}}</span>
                    </li>
                    <li class="clearfix">
                        <span>TOPLAM ADET</span>
                        <span>{{totalVariantCountFromPerformances(performance)}}</span>
                    </li>
                    <li class="clearfix">
                        <span>MÜŞTERİ</span>
                        <span>{{customer.fullName}}</span>
                    </li>
                    <li class="clearfix" *ngIf="model?.SubTotal.TotalDiscountAmounts">
                        <span>İNDİRİMLER TOPLAM</span>
                        <span class="disc">{{totalDiscountAmount(model.SubTotal.TotalDiscountAmounts)}}</span>
                    </li>
                </ul>

                <div class="full-width margin-top-20 c-widecol__row" >
                	<h5>ÜRÜNLER</h5>
                    <div *ngFor="let product of performance.Products">
                    	<div *ngIf="product.CountOfProductsSelected > 0">
	                        <ul class="variant">
	                            <li class="clearfix" *ngFor="let variant of product.Variants">
	                                <span class="text-xs-left float-xs-left">{{ variant.Name }}</span>
	                                <span class="text-xs-right float-xs-right">{{ variant.Price.Amount }}<sup>{{ variant.Price.Currency }}</sup></span>
	                                <span class="text-xs-right float-xs-right" style="margin-right:10px">{{ variant.CountOfProductsSelected }} Adet</span>
	                            </li>
	                        </ul>
                    	</div>
                    </div>
                    <span class="c-widecol__event-total">{{performance?.SubTotal.Amount | number : '2.2-2'}}<sup>{{performance?.SubTotal.Currency}}</sup></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="c-widecol__event-main-total clearfix">
    <h3 class="text-xs-right">Genel Toplam </h3>
    <span class="float-xs-right c-widecol__event-main-total-number">{{model?.SubTotal.Amount | number : '2.2-2'}}<sup>{{model?.SubTotal.Currency}}</sup></span>
</div>
-->




<!--<div class="c-wide-col-basket-item">
    <div class="c-wide-col-basket-item__title">
        <h4 class="c-wide-col-basket-item__title-text">{{model.Name}} / {{model.Venue}}</h4>
        <div class="c-wide-col-basket-item__title-action">
            <a href="#" class="c-wide-col-basket-item__title-action-delete" (click)="removeSelectedItems(model,model)"><i class="icon__n icon__n--delete"></i></a>
        </div>
    </div>
    <div>
        <div *ngFor="let performance of model.Performances">
            <div class="c-wide-col-basket-item__info">
                <h5 class="c-wide-col-basket-item__info-title">PERFORMANS</h5>
                <p class="c-wide-col-basket-item__info-desc">{{performance.Name}} <span class="c-wide-col-basket-item__info-date">{{performance.DateTime | date : 'dd MMMMM, EEEE - hh:mm'}}</span></p>
            </div>
            <div class="c-wide-col-basket-item__table-container">
                <table *ngFor="let product of performance.Products">
                    <thead>
                        <tr>
                            <th>ÜRÜN</th>
                            <th>ADET</th>
                            <th colspan="2">FİYAT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let variant of product.Variants">
                            <td>{{product.Name}} / {{ variant.Name }}</td>
                            <td>{{ variant.CountOfProductsSelected }}</td>
                            <td>
                                <div class="c-wide-col-basket-item__table-price">{{ variant.Price.Amount }}<sup>{{ variant.Price.Currency }}</sup></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div>
                                    <div *ngIf="performance?.SubTotal.TotalDiscountAmounts">
                                        İndirim Toplamı: {{totalDiscountAmount(performance.SubTotal.TotalDiscountAmounts)}} <br/>
                                    </div>
                                    Toplam: {{performance?.SubTotal.TotalAmount | number : '2.2-2'}}<sup>{{performance?.SubTotal.Currency}}</sup> <br>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="total">
        <h3>GENEL TOPLAM</h3>
        <div>
            <div *ngIf="model?.SubTotal.TotalDiscountAmounts">
                İndirim Toplamı: {{totalDiscountAmount(model.SubTotal.TotalDiscountAmounts)}} <br/>
            </div>
            Toplam: {{model?.SubTotal.TotalAmount | number : '2.2-2'}}<sup>{{model?.SubTotal.Currency}}</sup> <br/>
        </div>
    </div>
</div>-->
<!-- /.c-wide-col-basket-item -->