<div (click)="isEmpty ? openDialog() : null"
	class="c-profile-photo__container">
	<input #uploadInput
		type="file" name="file" accept="image/*"
        (change)="handleInputChange($event)"
		 />

	<div *ngIf="!isEmpty" class="c-profile-photo__image-box">
		<svg *ngIf="isCircle">
			<defs>
				<mask id="circle-clip">
					<circle cx="50%" cy="50%" r="38.5%" fill="rgba(255,255,255,1)"></circle>
					<rect x="0" y="0" width="100%" height="100%" fill="rgba(255,255,255,0.35)"></rect>
				</mask>
			</defs>
			<image [attr.xlink:href]="imageSource" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" mask="url(#circle-clip)"/>
		</svg>
		<svg *ngIf="!isCircle">
			<defs>
				<linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
					<stop offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:0.5" />
      				<stop offset="20%" style="stop-color:rgb(255,255,255);stop-opacity:1" />
					  <stop offset="95%" style="stop-color:rgb(255,255,255);stop-opacity:1" />
					<stop offset="100%" style="stop-color:rgb(255,255,255);stop-opacity:0.85" />
				</linearGradient>
				<mask id="rect-clip">
					<rect x="0" y="0" width="100%" height="100%" fill="url(#gradient)"></rect>
				</mask>
			</defs>
			<image [attr.xlink:href]="imageSource" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" mask="url(#rect-clip)"/>
		</svg>

	</div>

	<div *ngIf="isPromising" class="c-profile-photo__promise-box">
		<app-promise-icon [isPromising]="true" size="autosize" [color]="!isEmpty ? '#fff' : '#8d8d8d'"></app-promise-icon>
	</div>

	<div #actionButton *ngIf="!isEmpty" class="c-profile-photo__action-box">
		<app-button
			(click) = "callAction(primaryAction.action)"
			type="icon"
			theme="light"
			[icon]='primaryAction.icon'></app-button>
	</div>

	<div *ngIf="isEmpty && !isPromising" class="c-profile-photo__empty-box">
		<i class="icon__n icon__n--{{emptyBoxData.icon}}"></i>
		<span class="c-profile-photo__empty-box-label">{{emptyBoxData.label.toUpperCase()}}</span>
	</div>
</div>
