<div class="row">
    <div class="c-multi-selection-bar__selections col-xs-5"> <i class="icon__n icon__n--radio_button_checked"></i>
        <strong>{{this.selectedItems?.length}}</strong>
        <span class="hidden-sm-down">
				kayıt seçildi.
				<a href="#" (click)="selectAll(true)">Tümünü Seç</a>
			</span>
        <span class="c-multi-selection-bar__rows hidden-sm-down">({{numberOfTotalItem}} Kayıt)</span>
    </div>
    <!-- /.c-multi-selection-bar__selections -->
    <!--Şu and Logic leri olmadığından Kapalı-->
        <div class="c-multi-selection-bar__actions col-xs-6">
			<ul>
				<li *ngFor="let button of actionButtons">
					<a href="#" title="{{button.label}}" (click)="transist(button.action)">
						<i class="icon__n icon__n--{{button.icon}}"></i>
					</a>
				</li>
			</ul>
		</div>
    <!-- /.c-horizontal-actions -->

    <div class="c-multi-selection-bar__cancel col-xs-5">
        <span class="hidden-sm-down">
				Seçimleri
				<a href="#" (click)="selectAll(false)">iptal et</a>
			</span>
        <a href="#" class="c-multi-selection-bar__close" (click)="selectAll(false)">
            <i class="icon__n icon__n--close"></i>
        </a>
    </div>
    <!-- /.c-multi-selection-bar__cancel -->
</div>
<!-- /.row -->
