<div class="c-narrow-col-action-offer c-narrow-col-action-offer--{{theme}}" >
    <i class="c-narrow-col-action-offer__icon icon__n icon__n--announcement"></i>
    <p class="c-narrow-col-action-offer__content">
        <ng-content></ng-content>
    </p>
    <a href="#" (click)="actionClick($event)" class="c-narrow-col-action-offer__action-link">{{data?.label}}</a>
</div>
