<div class="c-narrow-inline-feedback__count ">
    <i class="icon__n icon__n--{{ iconNameClass }} {{ iconAngleClass }}"></i>
    <span class="c-narrow-inline-feedback__count__value">{{ countValue }}</span>
</div>
<h5 class="c-narrow-inline-feedback__content-title" #allowHtmlTagsOnTitle>{{ title }}</h5>
<p class="c-narrow-inline-feedback__content-text" #allowHtmlTagsOnDescription>{{ description }}</p>