<div class="or-boxoffice-events">
    <div class="o-header-large-search-container">
        <app-header-large-search (onDataChange)="search($event)" [isPromising]="isPromising" [options]="
        		[{
                    value: 'event',
                    text: 'Etkinliğe Göre Ara'
                },
                {
                    value: 'venue',
                    text: 'Mekana Göre Ara'
                },
                {
                    value: 'date',
                    text: 'Etkinlik Tarihine Göre Ara'
                }]" [placeholder]="{
            event: 'Etkinliğe göre arama yapın',
            venue: 'Mekana göre arama yapın',
            date: 'Etkinlik tarihine göre arama yapın'
        }" inputType="event"></app-header-large-search>
    </div>
    <!-- /.o-header-large-search-container -->

    <div class="o-content-title-container">
        <div class="o-content-title-container__left">
            <h2>Satıştaki Etkinlikler</h2>
        </div>
        <div class="o-content-title-container__right">
            <span class="o-content-title-container__right-item">
                <app-pill-group [pills]="pills" [setSelectedPill]="selectedPill" (selectPillFilterAction)="filterEvents($event)"> </app-pill-group>
            </span>
            <!--
            <span class="o-content-title-container__right-item">
                <app-selectbox></app-selectbox>
            </span>
            -->
        </div>
        <!--<div class="row">
            <div class="col-md-7">
                <h2>Satıştaki Etkinlikler</h2>
            </div>
            <div class="col-md-7 text-md-right">
                <app-pill-group [pills]="pills"> </app-pill-group>
            </div>
            <div class="col-md-2">
                <app-selectbox></app-selectbox>
            </div>
        </div>-->
    </div>
    <!-- /.o-content-title-container -->
    <div class="o-card-view">
        <app-no-data *ngIf="!isLoading && (!results || results.length == 0)" style="max-width: 60%;margin-top:30px" [hasContainer]="true" [icon]='{type: "icon", name: "event"}' title="Aramanız ile eşleşen etkinlik kaydı bulunamadı" description="Arama kriterini değiştirerek yeniden deneyebilirsiniz"></app-no-data>
        <div class="o-card-container__content" *ngIf="isEventSearchActive">
            <app-grid-list [ngClass]="{'main-loader': isLoading }">
                <li *ngFor="let event of results">
                	<app-card-item
	                    (actionEvent)="cardActionHandler($event)"
	                    [data]="{entryType: 'boevent', model: event}">
                    </app-card-item>
                </li>
            </app-grid-list>
        </div>
        <div class="o-card-container__content" *ngIf="isVenueSearchActive">
            <app-grid-list [ngClass]="{'main-loader': isLoading }">
                <li *ngFor="let venue of results">
                	<app-card-item
	                    (actionEvent)="cardActionHandler($event)"
	                    [data]="{entryType: 'venue', model: venue, from: 'boevent'}">
                    </app-card-item>
                </li>
            </app-grid-list>
        </div>
    </div>
    <!-- /.o-card-container -->
</div>