<div class="or-boxoffice__header" *ngIf="event">
    <h1>Etkinlikler / {{event.Name}}</h1>
    <p><span>{{event.SalesBeginDate | relativeDate}} - {{event.SalesEndDate | relativeDate}} </span> / {{event.Venue}}</p>
</div>
<!-- /.o-header -->
<div class="or-boxoffice__row-wrapper" *ngIf="event">
    <div style="margin-bottom:30px" *ngFor="let performance of event.Performances">
        <h3>{{performance.Name}}</h3>
        <div class="row" *ngFor="let product of performance.Products">
            <div class="col-md-16" *ngFor="let variant of product.Variants">
                <app-product-item-line [name]="product.Name | concat : variant.Name:'-'" [hasContent]="true" [price]="variant.Price.Amount" [currency]="variant.Price.Currency" [event]="event" [variant]="variant" [product]="product" [maxProductCount]="maxProductCount(product)"
                    [minProductCount]="1" [hasContent]="true" (actionEvent)="onSave($event)">
                    <div subtitle>
                        <time>{{performance.SalesEndDate | relativeDate}}</time>’a kadar satışta
                    </div>
                    <div content>
                        <ul>
                            <li *ngFor="let campaign of variant.Campaigns">{{campaign.Description}}</li>
                        </ul>
                    </div>
                </app-product-item-line>
            </div>
        </div>
    </div>
    <app-no-data *ngIf="event?.Performances.length == 0" style="max-width: 60%;margin-top:30px" [hasContainer]="true" [icon]='{type: "icon", name: "event"}' title="Seçtiğiniz etkinlikte performans kaydı bulunamadı" description="Arama kriterini değiştirerek yeniden deneyebilirsiniz"></app-no-data>
</div>