<div *ngIf="customer" class="c-multiple-payment-block__customer">
    <div class="c-multiple-payment-block__customer-avatar">
        <app-avatar theme="danger" size="md" [source]="customer?.ProfilePicture" [letters]="userLetters"></app-avatar>

        <span class="c-multiple-payment-block__customer-avatar-role">
        <app-avatar
          theme="secondary"
          [source]="null"
          [icon]="'person'"></app-avatar>
      </span>
    </div>
    <div class="c-multiple-payment-block__customer-info">
        <div class="c-multiple-payment-block__customer-info-name" [innerHTML]="customer.fullName | sanitizeHtml"></div>
        <div class="c-multiple-payment-block__customer-info-contact" [innerHTML]="customer.contactInfo | sanitizeHtml"></div>
    </div>
    <div class="c-multiple-payment-block__customer-score">
        <span class="c-multiple-payment-block__customer-score-box">
      <span class="c-multiple-payment-block__customer-score-value">{{customerScore}}</span>
        <span class="c-multiple-payment-block__customer-score-label">PUAN</span>
        </span>
    </div>
</div>

<div class="c-multiple-payment-block__wizard-header">
    <app-wizard-header currentLevel={{currentLevelIndex+1}} totalLevel={{levels?.length}} (actionEvent)="wizardActionHandler($event)">
        <span><strong>{{wizardHeader.currentLevel}}. Adım: </strong>{{currentLevel?.title}}</span>
    </app-wizard-header>
</div>

<div [ngSwitch]="currentLevel?.key">
    <div *ngSwitchCase="'payment'">
        <div *ngIf="currentState">
            <div class="c-multiple-payment-block__type-area" *ngIf="paymentProcessType == 0">
                <ul class="c-multiple-payment-block__type">
                    <li *ngFor="let paymentType of paymentTypes" (click)="selectPaymentType(paymentType, $event)" [class.c-multiple-payment-block__type-item--active]="paymentType.isSelected" class="c-multiple-payment-block__type-item">

                        <div *ngIf="!paymentType.isSelected" class="c-multiple-payment-block__type-name">
                            <app-promise-icon size="lg" [isPromising]="paymentType.isPromising" color="#ffffff" [iconName]="paymentType.icon"></app-promise-icon>
                            <strong>{{paymentType.Type_Desc}}</strong>
                        </div>

                        <div *ngIf="paymentType.isSelected" class="c-multiple-payment-block__form">

                            <div [class.c-multiple-payment-block__input-with-additionals--focus]="paymentType.isFocused" class="c-multiple-payment-block__input-with-additionals">
                                <span class="c-multiple-payment-block__left-additional">
                        <span class="c-multiple-payment-block__form-icon">
                            <i class="icon__n icon__n--{{paymentType.icon}}"></i>
                        </span>
                                </span>
                                <span class="c-multiple-payment-block__form-element">
                            <input #paymentInput
                              [(ngModel)]="paymentType.amount"
                              (focus)="paymentInputFocusHandler(paymentType, $event)"
                              (focusout)="paymentInputBlurHandler(paymentType, $event)"
                              (blur)="paymentInputBlurHandler(paymentType, $event)"
                              (keyup.enter)="makePayment(paymentType, $event)"
                              [attr.data-payment-type]="paymentType.Type"
                              type="text" placeholder="0.00">
                        </span>
                                <span class="c-multiple-payment-block__right-additional">
                        <span class="c-multiple-payment-block__form-label">{{currency}}</span>
                                </span>
                            </div>

                        </div>

                        <small *ngIf="paymentType.isSelected && paymentType.Type == 1" class="c-multiple-payment-block__overlay-link-btn">Para üstü hesaplayın</small>

                    </li>
                </ul>
            </div>
            <div class="c-multiple-payment-block__type-area text-xs-center" *ngIf="paymentProcessType == 1">
                <app-button (click)="makePayment(lastInputPayment,$event,'onFiscalError')" theme="secondary">CİHAZI KONTROL EDİP İŞLEMİ TAMAMLAMAK İÇİN TIKLAYINIZ</app-button>
            </div>
            <div class="c-multiple-payment-block__type-area text-xs-center" *ngIf="isPrintLastReceipt">
                <app-button (click)="confirm()" theme="danger">SON İŞLEM KOPYASINI BAS</app-button>
            </div>

            <div *ngIf="paymentList?.length" class="c-multiple-payment-block__table">
                <div *ngFor="let payment of paymentList" class="c-multiple-payment-block__table-item">
                    <span class="c-multiple-payment-block__table-item-label">{{payment.name}} <i *ngIf="payment.info">- {{payment.info}}</i></span>
                    <span class="c-multiple-payment-block__table-item-value c-multiple-payment-block__table-item-value--added">- {{payment.amount}} <sup>{{currency}}</sup></span>
                    <span class="c-multiple-payment-block__table-item-action">
              <app-button
                (click)="removePayment(payment, $event)"
                [isDisabled]="payment.isPromising"
                [isPromising]="payment.isPromising"
                type="icon" icon="delete" theme="secondary" *ngIf="remainingAmount > 0 && paymentProcessType == 0"></app-button>
            </span>
                </div>
            </div>

            <div class="c-multiple-payment-block__total">
                <div class="c-multiple-payment-block__total-content">
                    <span class="c-multiple-payment-block__total-label">KALAN</span>
                    <span class="c-multiple-payment-block__total-price">{{remainingAmount}} <sup>{{total.Currency}}</sup></span>
                </div>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'summary'">
        <div class="c-multiple-payment-block__table">

            <div class="c-multiple-payment-block__table-head">
                <span class="c-multiple-payment-block__table-head-title">Sipariş Özeti</span>
            </div>

            <div class="c-multiple-payment-block__table-item">
                <span class="c-multiple-payment-block__table-item-label">ÜRÜNLER TOPLAMI</span>
                <span class="c-multiple-payment-block__table-item-value">{{total?.Amount | number : '2.2-2'}}<sup>{{total.Currency}}</sup></span>
            </div>
            <div class="c-multiple-payment-block__table-item" *ngIf="total?.PriceDetails">
                <span class="c-multiple-payment-block__table-item-label">ÜCRETLER</span>
                <span class="c-multiple-payment-block__table-item-value">{{totalPriceDetailAmount(total)}}<sup>{{total.Currency}}</sup></span>
            </div>
            <div class="c-multiple-payment-block__table-item">
                <span class="c-multiple-payment-block__table-item-label">VERGİLER</span>
                <span class="c-multiple-payment-block__table-item-value">{{total.Tax | number : '2.2-2'}}<sup>{{total.Currency}}</sup></span>
            </div>
            <div class="c-multiple-payment-block__table-item" *ngIf="total?.TotalDiscountAmounts">
                <span class="c-multiple-payment-block__table-item-label"> İNDİRİMLER </span>
                <span class="c-multiple-payment-block__table-item-value">{{totalDiscountAmount(total.TotalDiscountAmounts)}}<sup>{{discount.Currency}}</sup></span>
            </div>
            <div *ngFor="let orderItem of orderSummaryList" class="c-multiple-payment-block__table-item">
                <span class="c-multiple-payment-block__table-item-label">{{orderItem.name}}</span>
                <span class="c-multiple-payment-block__table-item-value">{{total?.TotalAmount | number : '2.2-2'}} <sup>{{total.Currency}}</sup></span>
            </div>
            <div class="c-multiple-payment-block__table-item">
                <span class="c-multiple-payment-block__table-item-label c-multiple-payment-block__table-item-label--strong">TOPLAM</span>
                <span class="c-multiple-payment-block__table-item-value">{{total?.TotalAmount | number : '2.2-2'}} <sup>{{total.Currency}}</sup></span>
            </div>
        </div>
        <div class="c-multiple-payment-block__table">

            <div class="c-multiple-payment-block__table-head">
                <span class="c-multiple-payment-block__table-head-title">Ödeme Bilgileri</span>
            </div>
            <div *ngFor="let payment of paymentList" class="c-multiple-payment-block__table-item">
                <span class="c-multiple-payment-block__table-item-label">{{payment.name}} <i *ngIf="payment.info">- {{payment.info}}</i></span>
                <span class="c-multiple-payment-block__table-item-value c-multiple-payment-block__table-item-value--added">- {{payment.amount | number : '2.2-2'}} <sup>{{currency}}</sup></span>
            </div>
        </div>

        <div class="c-multiple-payment-block__info-box">
            <!--mvp 6Mart-->
            <!--<div class="c-multiple-payment-block__info-box-content">
              <a><span class="c-multiple-payment-block__info-box-label"><i class="icon__n icon__n--sm icon__n--forward"></i> ÜRÜN YÖNLENDİRMESİ YAP</span></a>
          </div>-->
        </div>
    </div>
</div>

<div class="c-multiple-payment-block__footer">
    <div class="c-multiple-payment-block__footer-content">
        <div class="col-xs-16">
            <app-button (click)="cancelTransaction()" [isDisabled]="isBalanced" style="margin-right:5px;">İPTAL ET</app-button>
            <app-button (click)="submitClickHandler($event)" [isDisabled]="!isBalanced" theme="primary" [label]="currentLevel?.key == 'summary' ? 'SİPARİŞİ TAMAMLA' : 'DEVAM ET'"></app-button>

        </div>
    </div>
</div>