<!--<template [ngIf]="isOpen">
	<app-tether-dialog__overlay></app-tether-dialog__overlay>
	<app-tether-dialog__content #dialogContent>
		<ng-content></ng-content>
	</app-tether-dialog__content>
</template>-->
