<div id="slider" class="c-slider-input">
	<span id="value" class="c-slider-input__value">0</span>
	<span class="c-slider-input__start-value">0</span>
	<span class="c-slider-input__end-value">100</span>
	<span class="c-slider-input__label">ETİKET</span>
</div>