<div style="width:100%;height:100%; top:0;left:0;z-index:99999;background-color:rgba(0,0,0,0.4); position:fixed;" *ngIf="isLoading">
    <object type="image/svg+xml" data="assets/images/temp/nirvana.svg" class="spinner">
       
    </object>
</div>
<router-outlet></router-outlet>



<app-tether-dialog></app-tether-dialog>