<app-expandable-block 
  (actionEvent)="emitAction($event)"
  [contextMenuData]="contextMenuData"
  [title]="priceList?.Localization?.Name"
  [isExpanded]="true" >

  <div class="c-product-price-block__container">

    <div class="c-product-price-block__content">
      
      <div class="p-group__item row">
        <div class="p-form-group col-xs-16">
          <div class="p-form-group__label">FİYAT BLOĞU ADI<sup>*</sup></div>
          <div class="p-form-group__input">
            <app-text-input [isDisabled]="!priceList?.IsEnabled" [isTypeEmitting]="true" [typeDebounceTime]="50" (typeEvent)="inputChangeHandler($event, 'Name')" [value]="priceList?.Localization?.Name" ></app-text-input>
          </div>
        </div>
      </div>

      <div class="p-group__item row">
        <div class="col-xs-8 padding-right-10">
          <div class="p-form-group__label">SATIŞ BAŞLANGIÇ TARİHİ<sup>*</sup></div>
          <div class="p-form-group__input">
            <app-text-input [isDisabled]="!priceList?.IsEnabled" type="datepicker" size="sm-text" placeholder="Bir Tarih Seçiniz" (changeEvent)="inputChangeHandler($event, 'BeginDate')" [date]="priceList?.BeginDate" ></app-text-input>
          </div>
        </div>
        <div class="col-xs-8 padding-left-10">
          <div class="p-form-group__label">SATIŞ BİTİŞ TARİHİ<sup>*</sup></div>
          <div class="p-form-group__input">
            <app-text-input [isDisabled]="!priceList?.IsEnabled" type="datepicker" size="sm-text" placeholder="Bir Tarih Seçiniz" (changeEvent)="inputChangeHandler($event, 'EndDate')" [date]="priceList?.EndDate" ></app-text-input>
          </div>
        </div>
      </div>

      <div class="p-group__item row">
        <div class="col-xs-8 padding-right-10">
          <div class="p-form-group__label">ÜRÜN FİYATI<sup>*</sup></div>
          <div class="p-form-group__input">
            <app-text-input [isDisabled]="!priceList?.IsEnabled" type="number" (changeEvent)="inputChangeHandler($event, 'NominalPrice')" [value]="priceList?.NominalPrice" ></app-text-input>
          </div>
        </div>
        <div class="col-xs-8 padding-left-10">
          <div class="p-form-group__label"></div>
          <div class="p-form-group__input text-xs-right">
            <span class="p-label padding-right-10">Fiyatı Etkinleştir </span><app-checkbox type="lightswitch" (changeEvent)="inputChangeHandler($event, 'IsEnabled')" [isChecked]="priceList?.IsEnabled"></app-checkbox>
          </div>
        </div>
      </div>

      <div class="p-group__item" [class.p-group__item--disabled]="!priceList?.IsEnabled">
        <div class="p-form-group" *ngFor="let variant of priceList?.Variants">
          <div class="c-product-price-block__variant">
            <div class="c-product-price-block__variant-header">
              <span class="c-product-price-block__variant-header-icon"><i class="icon__n icon__n--tag"></i></span>
              <span class="c-product-price-block__variant-header-title">{{variant?.Localization?.Name}}</span>
              <span class="c-product-price-block__variant-header-price" [class.c-product-price-block__variant-header-price--active]="!(variant?.Prices?.length > 0)">{{variant?.DefaultPrice}}</span>
              <span class="c-product-price-block__variant-header-context">
                <app-button (click)="openVariantContextMenu($event, variant)" type="icon" icon="more_vert" theme="secondary"></app-button>
              </span>
            </div>
            <div class="c-product-price-block__variant-content">
              <div class="c-product-price-block__variant-list">
                <div class="c-product-price-block__variant-list-item" *ngFor="let variantPrice of variant?.Prices">
                  <span class="c-product-price-block__variant-list-item-title">{{variantPrice?.SalesChannel?.Name}}</span>
                  <span class="c-product-price-block__variant-list-item-price">{{variantPrice?.Price}}</span>
                  <span class="c-product-price-block__variant-list-item-context">
                    <app-button 
                      (click)="openVariantPriceContextMenu($event, variantPrice, variant)"
                      type="icon" icon="more_vert" theme="secondary"></app-button>
                  </span>
                </div>
                <div class="c-product-price-block__variant-list-item c-product-price-block__variant-list-item--new">
                  <span class="c-product-price-block__variant-list-item-icon"><i class="icon__n icon__n--plus"></i></span>
                  <span>
                    <app-button (click)="openAddVariantPriceBox(null, variant)" type="link" label="SATIŞ KANALI EKLE"></app-button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
         <div class="p-form-group">
            <app-container-canvas [isEmpty]="true">
                <app-button 
                  (click)="openAddVariantBox(null, $event)"
                  theme="secondary">VARYANT EKLE</app-button>
            </app-container-canvas>
         </div>
      </div>

    </div>

  </div>

</app-expandable-block>