<div>
<button (click)="addProductsToSlip()">addProductsToSlip</button>
	<p>
		{{addedItem | json}}
	</p>
<br>
<br>
<br>
<button (click)="makePayment()">makePayment</button>
	<p> {{result}} </p>

</div>