<div class="c-number-stepper c-number-stepper--md">
	<span class="c-number-stepper__label">{{label}}</span>
	<div class="input-group c-number-stepper__content">
		<span class="input-group-btn">
			<button class="btn icon__n icon__n--add" type="button"></button>
		</span>
		<input type="text" class="form-control" placeholder="10">
		<span class="input-group-btn">
			<button class="btn icon__n icon__n--remove" type="button"></button>
		</span>
	</div>
</div>