<div class="o-placeholder--multi_selection o-placeholder--multi_selection--changepos" [class.active]="isMultiSelectionActive">
    <app-multi-selection-bar (toggleSelectedItems)="selectAllItems($event)" (transistAction)="callSelectedItemsAction($event)" [selectedItems]="selectedItems" [actionButtons]="actionButtons" [numberOfTotalItem]="performances.length">
    </app-multi-selection-bar>
</div>

<app-no-data [ngClass]="{'main-loader': isLoading }" *ngIf="noDataInContent" style="max-width: 50%;margin-top:30px" [hasContainer]="true" [icon]='{type: "icon", name: "performance"}' title="Aramanız ile eşleşen performans kaydı bulunamadı" description="Arama kriterini değiştirerek yeniden deneyebilirsiniz"></app-no-data>

<div class="o-list-view" [class.no-pagination]="!showPagination" *ngIf="entityService.viewType.isListViewActive && !noDataInContent">
    <div class="o-list-view__content">
        <app-responsive-table [ngClass]="{'main-loader': isLoading }">
            <div class="c-responsive-table__caption row">
                <div class="c-responsive-table__primary-column hidden-sm-down col-md-16 col-lg-6 col-xl-6">
                    <app-sort-title sortTitle='PERFORMANS ADI' sortBy='Localization/Name' [activeTitle]="entityService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
                </div>

                <div class="c-responsive-table__secondary-column hidden-md-down col-lg-10 col-xl-10">
                    <div class="col-lg-8 col-xl-4 col-fhd-4">
                        <app-sort-title sortTitle='TARİHİ' sortBy='Date' [activeTitle]="entityService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
                    </div>

                    <div class="col-lg-8 col-xl-5 col-fhd-5">
                        <app-sort-title sortTitle='SATIŞ BAŞLANGIÇ TARİHİ' sortBy='SalesBeginDate' [activeTitle]="entityService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
                    </div>

                    <div class="hidden-lg-down col-xl-4 col-fhd-4">
                        <span>MEKAN</span>
                    </div>

                    <div class="hidden-lg-down col-xl-3 col-fhd-3">
                        <span>DURUM</span>
                    </div>
                </div>
            </div>

            <div class="c-responsive-table__row row" *ngFor="let performance of performances">
                <div class="c-responsive-table__primary-column col-md-16 col-lg-6 col-xl-6">
                    <div class="c-primary-column-line c-primary-column-line--with-select c-primary-column-line--with-avatar">
                        <div class="c-primary-column-line__primary-content">
                            <div class="c-primary-column-line__select">
                                <app-checkbox theme="ligth" [isChecked]="selectedItems.indexOf(performance) > -1" (checkedAction)="selectItem($event, performance);"></app-checkbox>
                            </div>

                            <div class="c-primary-column-line__avatar">
                                <app-avatar [letters]="performance.Localization?.Name.charAt(0)" source="{{performance.Images | image: 'Performance'}}"></app-avatar>
                            </div>

                            <a class="c-primary-column-line__title" [routerLink]="['/performance', performance.Id, 'performers']">
                                {{performance.Localization?.Name}}
                            </a>
                        </div>

                        <div class="c-primary-column-line__secondary-content">
                            <div class="c-responsive-table__secondary-item hidden-xl-up">
                                <span class="c-responsive-table__secondary-item-label">DURUM</span>
                                <span class="c-responsive-table__secondary-item-value"><span class="text-nowrap">{{performanceStatus[performance.Status] | enumTranslator}}</span></span>
                            </div>

                            <div class="c-responsive-table__secondary-item hidden-lg-up">
                                <span class="c-responsive-table__secondary-item-label">TARİH</span>
                                <span class="c-responsive-table__secondary-item-value"><span class="text-nowrap">{{performance.Date | relativeDate}}</span></span>
                            </div>

                            <div class="c-responsive-table__secondary-item hidden-lg-up">
                                <span class="c-responsive-table__secondary-item-label">SATIŞ BAŞLANGIÇ TARİHİ</span>
                                <span class="c-responsive-table__secondary-item-value"><span class="text-nowrap">{{performance.SalesBeginDate | relativeDate}}</span></span>
                            </div>

                            <div class="c-responsive-table__secondary-item hidden-xl-up">
                                <span class="c-responsive-table__secondary-item-label">MEKAN</span>
                                <span class="c-responsive-table__secondary-item-value">{{performance.VenueTemplate?.Venue?.Localization?.Name}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="c-responsive-table__secondary-column hidden-md-down col-lg-10 col-xl-10">
                    <div class="col-lg-8 col-xl-4 col-fhd-4">
                        <span>
                            <span class="text-nowrap">{{performance.Date | relativeDate}}</span>
                        </span>
                    </div>

                    <div class="col-lg-8 col-xl-5 col-fhd-5">
                        <span>
                            <span class="text-nowrap">{{performance.SalesBeginDate | relativeDate}}</span>
                        </span>
                    </div>

                    <div class="hidden-lg-down col-xl-4 col-fhd-4">
                        <span>{{performance.VenueTemplate?.Venue?.Localization?.Name}}</span>
                    </div>

                    <div class="hidden-lg-down col-xl-3 col-fhd-3">
                        <span>{{performanceStatus[performance.Status] | enumTranslator}}</span>
                    </div>
                </div>

                <div class="c-responsive-table__action-btn">
                    <app-button (click)="openContextMenu($event, performance)" type="icon" icon="more_vert" theme="secondary"></app-button>
                </div>
            </div>
        </app-responsive-table>
    </div>

    <div class="o-list-view__footer" *ngIf="!noDataInContent && showPagination">
        <app-pagination size="xs" (changeEvent)="changePageSize($event)" [options]="pageSizes" [totalItem]=count [showItemPerPage]="pageSize" [currentPage]="currentPage" (transistPage)="transistPage($event)"></app-pagination>
    </div>
</div>

<div class="o-card-view" *ngIf="entityService.viewType.isCardViewActive && !noDataInContent">
    <div class="o-card-view__content">
        <app-grid-list [ngClass]="{'main-loader': isLoading }">
            <li *ngFor="let performance of performances">
                <app-card-item [isActive]="performance.Status == performanceStatus['OnSale']" (actionEvent)="cardActionHandler($event)" [data]="{entryType: 'performance', model: performance}" [isSelected]="selectedItems.indexOf(performance) > -1"></app-card-item>
            </li>
        </app-grid-list>
    </div>

    <div class="o-card-view__footer" *ngIf="!noDataInContent && showPagination">
        <app-pagination size="lg" (changeEvent)="changePageSize($event)" *ngIf="showPagination" [totalItem]=count [showItemPerPage]="pageSize" [currentPage]="currentPage" (transistPage)="transistPage($event)"></app-pagination>
    </div>
</div>
