<app-fullscreen-cover 
    backgroundColor = "#3e3e3e"
    backgroundImage="assets/images/backgrounds/login-back.jpg">
    
  <app-auth-dialog-box #self 
    headerLogo = "../../assets/images/logo/nirvana.png"
    headerBackgroundColor = "#EE4C42"
    (submitEvent)='authSubmitEventHandler($event)'>
      
        <h1 class="padding-bottom-20">Parola Yenileme</h1>

        <div *ngIf="authAlert" class="alert alert-{{ authAlert.type }}">
          <h1 [innerHTML]='authAlert.title'></h1>
          <p [innerHTML]='authAlert.description'></p>
        </div>

        <div *ngIf="!authAlert" class="padding-bottom-20">
          <p><b>Parolanızı unuttuğunuz için bu ekrandasınız.</b> Kullanıcı adınızı girerek formu gönderin, parola sıfırlama bilgileri eposta adresinize gönderilecektir.</p>
        </div>
  
        <form 
          *ngIf= "!isPasswordSended"
          [formGroup]="self.authForm">
          <app-text-input
            theme="underline"
            class="margin-bottom-20"
            [form]="self.authForm"
            name="username"
            [required]='true'
            placeholder="Kullanıcı Adı (demo)"
            icon="person" ></app-text-input>
					<app-text-input
            theme="underline"
            class="margin-bottom-20"
            [form]="self.authForm"
            name="email"
            [required]='true'
						type="email"
            placeholder="Email Adresi"
            icon="email" ></app-text-input>
        </form>
				<div class="row text-xs-right">
					<a routerLink="/login">Giriş Yapın</a>
        </div>
        
        <button footer 
          *ngIf= "!isPasswordSended"
          (click)="self.submit()" 
          [disabled]="!self.authForm.valid || self.authForm.disabled"
          class="btn">DEVAM ET</button> <!-- footer directive is a container -->

        <button footer 
          *ngIf= "isPasswordSended"
              routerLink= "/login"
              class="btn">DEVAM ET</button> <!-- footer directive is a container -->

  </app-auth-dialog-box>
</app-fullscreen-cover>
