<div class="p-header-bar">
    <div class="p-header-bar__left">
        <app-header-inline-edit [placeholder]="'Oturma Düzeni Adı Giriniz'" 
            [value]="template?.Localization?.Name || template?.Localization?.Tr?.Name" 
            [breadcrumbs]="isEdit ?  [{ label: 'Oturma Düzeni Düzenle', routerLink: '#' }] : [{ label: 'Oturma Düzeni Ekle*', routerLink: '#' }]" 
            (changeEvent)="titleChangeHandler($event)"></app-header-inline-edit>
    </div>

    <div class="p-header-bar__right">
        <app-button (clickEvent)="saveTemplate()" [isPromising]="isLoading || isPromising" [isDisabled]="!isValid">KAYDET</app-button>
        <app-button (clickEvent)='exit($event)' type="icon" icon="close" theme="secondary"></app-button>
    </div>
</div>
<div *ngIf="editorIsShown" class="editor-container">
        <app-venue-template-editor
            (editorEvent)="venueEditorEventHandler($event)"
            [role]="editorRole"
            [venueId]="venueId"
            [templateId]="venueTemplateId || -1"
            [templateName]="templateName"
            [performanceId]="performanceId"
        ></app-venue-template-editor>
</div>