<span class="c-button__wrapper" [ngSwitch]="type">
  <app-promise-icon
    *ngSwitchCase="'icon'"
    [iconName]="icon"
    [isPromising]="isPromising"
    size="autosize"
  ></app-promise-icon>

  <span *ngSwitchCase="'link'" class="c-button__link">
    <a href="#">{{label}}</a>
  </span>

  <button type="button"
    *ngSwitchDefault
    [disabled]='disabled'
    >
    <template [ngIf]="label">
      <span *ngIf="!isPromising">{{label}}</span><app-promise-icon *ngIf="isPromising" [isPromising]="isPromising"></app-promise-icon>
    </template>
    <template [ngIf]="!label">
      <span *ngIf="!isPromising"><ng-content></ng-content></span><app-promise-icon *ngIf="isPromising" [isPromising]="isPromising"></app-promise-icon>
    </template>
  </button>

</span>