<span class="c-text-input__bar">
  <span *ngIf='isIconAlignLeft' class="c-text-input__icon c-text-input__icon--left">
    <app-promise-icon *ngIf='icon' [iconName]='stateIcon' [isPromising]="isPromising" size="autosize" color="B1B1B1"></app-promise-icon>
  </span>
  <span class="c-text-input__text">
    <input #input
      [formControl]="formControl"
      [type]="inputType"
      [autocomplete]="autocomplete"
      [name]="name"
      [required]="required"
      [min]="min"
      [max]="max"
      [maxlength]="maxlength"
      [(ngModel)]="value"
      [placeholder]="placeholder"
      (focus)="onFocus()"
      (focusout)="onFocusOut()"
      (keyup.enter)="save($event)"
      (keyup.escape)="dismissChanges($event)">
  </span>
  <span *ngIf='!isIconAlignLeft' class="c-text-input__icon">
    <app-promise-icon *ngIf='icon && !iconAsButton' [iconName]='stateIcon' [isPromising]="isPromising"  size="autosize" color="B1B1B1"></app-promise-icon>
    <app-promise-icon *ngIf='icon && iconAsButton' (click)='emitChangeEvent()' [iconName]='stateIcon' [isPromising]="isPromising"  size="autosize" color="B1B1B1"></app-promise-icon>
  </span>
</span>