<template [ngIf]="hasSource">
	<figure>
		<img (error)="imageErrorHandler($event)" src="{{source}}" alt="">
	</figure>
</template>
<template [ngIf]="!hasSource">
	<div *ngIf=iconName class="c-avatar__icon">
		<i class="icon__n icon__n--{{iconName}}"></i>
	</div>
	<div *ngIf=letters class="c-avatar__letters">
		<span>{{letters}}</span>
	</div>
</template>