<div class="or-performance-products">
	<app-collapsible-container theme="gray" [isAsideOpen]="true" [asideWidth]="240">
		<div content>
			<!--Header-->
			<div class="p-header p-header--border">
				<span class="margin-right-5">Davetiye</span>
				<app-button type="icon" icon="plus" shape="circle" theme="secondary" size="lg"></app-button>
			</div>

			<!--Container-->
			<div class="row o-filter-bar">
				<div class="col-sm-16">
					<app-inline-search-input (onInputSave)="onInputChange($event)" (onInputChange)="onInputChange($event)" [isIconAlignLeft]='true' placeholder='Davetiyeler Arasında Arayın'></app-inline-search-input>
				</div>
			</div>

			<div class="o-placeholder--multi_selection " [class.active]="isMultiSelectionActive">
				<app-multi-selection-bar (toggleSelectedItems)="selectAllItems($event)" (transistAction)="callSelectedItemsAction($event)" [selectedItems]="selectedItems" [actionButtons]="actionButtons" [numberOfTotalItem]="invitations.length">
				</app-multi-selection-bar>
			</div>

			<app-no-data *ngIf="noDataInContent" style="max-width: 50%;margin-top:30px" [hasContainer]="true" title="Aramanız ile eşleşen davetiye kaydı bulunamadı" description="Arama kriterini değiştirerek yeniden deneyebilirsiniz"></app-no-data>

			<!--<div class="o-list-view" [class.no-pagination]="!showPagination" *ngIf="!noDataInContent">-->
			<div class="o-list-view" *ngIf="!noDataInContent">
				<div class="o-list-view__content">
					<app-responsive-table [ngClass]="{'main-loader': isLoading }">
						<div class="c-responsive-table__caption row">

							<div class="c-responsive-table__primary-column hidden-sm-down col-md-16 col-lg-10 col-xl-8 col-hd-7 col-fhd-6">
								<app-sort-title sortTitle='ADI' sortBy='RsvpName' [activeTitle]="entityService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
							</div>

							<div class="c-responsive-table__secondary-column hidden-md-down col-lg-6 col-xl-8 col-hd-9 col-fhd-10">
								<div class="hidden-hd-down col-fhd-3">
									<app-sort-title sortTitle='TİPİ' sortBy='RsvpType' [activeTitle]="entityService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
								</div>

								<div class="col-lg-16 col-xl-8 col-hd-6 col-fhd-4">
									<app-sort-title sortTitle='RSVP BİTİŞ TARİHİ' sortBy='DueDate' [activeTitle]="entityService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
								</div>

								<div class="hidden-lg-down col-xl-4 col-hd-4 col-fhd-3">
									<app-sort-title sortTitle='KAPASİTE' sortBy='Capacity' [activeTitle]="entityService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
								</div>

								<div class="hidden-lg-down col-xl-4 col-hd-3 col-fhd-3">
									<app-sort-title sortTitle='MİKTAR' sortBy='Count' [activeTitle]="entityService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
								</div>

								<div class="hidden-xl-down col-hd-3 col-fhd-3">
									<app-sort-title sortTitle='GİRİŞ HAKKI' sortBy='TicketPerUser' [activeTitle]="entityService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
								</div>
							</div>
						</div>

						<div class="c-responsive-table__row row" *ngFor="let invitation of invitations">
							<div class="c-responsive-table__primary-column col-md-16 col-lg-10 col-xl-8 col-hd-7 col-fhd-6">
								<div class="c-primary-column-line c-primary-column-line--with-select">
									<div class="c-primary-column-line__primary-content">
										<!--
										<div class="c-primary-column-line__select">
											<app-checkbox theme="ligth" type="circle" [isChecked]="selectedItems.indexOf(invitation) > -1" (checkedAction)="selectItem($event, invitation);"></app-checkbox>
										</div>
										-->

										<a class="c-primary-column-line__title">
											{{invitation.RsvpName}}
										</a>
									</div>

									<div class="c-primary-column-line__secondary-content">
										<div class="c-responsive-table__secondary-item hidden-fhd-up">
											<span class="c-responsive-table__secondary-item-label">TİPİ</span>
											<span class="c-responsive-table__secondary-item-value">
												<span>{{invitationStatus[invitation.RsvpType] | enumTranslator}}</span>
											</span>
										</div>

										<div class="c-responsive-table__secondary-item hidden-md-up">
											<span class="c-responsive-table__secondary-item-label">RSVP BİTİŞ TARİHİ</span>
											<span class="c-responsive-table__secondary-item-value">{{invitation.DueDate | relativeDate}}</span>
										</div>

										<div class="c-responsive-table__secondary-item hidden-xl-up">
											<span class="c-responsive-table__secondary-item-label">KAPASİTE</span>
											<span class="c-responsive-table__secondary-item-value">
												<strong>{{invitation.Capacity}}</strong>
											</span>
										</div>

										<div class="c-responsive-table__secondary-item hidden-xl-up">
											<span class="c-responsive-table__secondary-item-label">MİKTAR</span>
											<span class="c-responsive-table__secondary-item-value">
												<strong>{{invitation.Count}}</strong>
											</span>
										</div>

										<div class="c-responsive-table__secondary-item hidden-hd-up">
											<span class="c-responsive-table__secondary-item-label">GİRİŞ HAKKI</span>
											<span class="c-responsive-table__secondary-item-value">
												<strong>{{invitation.TicketPerUser}}</strong>
											</span>
										</div>
									</div>
								</div>
							</div>

							<div class="c-responsive-table__secondary-column hidden-md-down col-lg-6 col-xl-8 col-hd-9 col-fhd-10">
								<div class="hidden-hd-down col-fhd-3">
									<span>{{invitationStatus[invitation.RsvpType] | enumTranslator}}</span>
								</div>

								<div class="col-lg-16 col-xl-8 col-hd-6 col-fhd-4">
									<span>{{invitation.DueDate | relativeDate}}</span>
								</div>

								<div class="hidden-lg-down col-xl-4 col-hd-4 col-fhd-3">
									<strong>{{invitation.Capacity}}</strong>
								</div>

								<div class="hidden-lg-down col-xl-4 col-hd-3 col-fhd-3">
									<strong>{{invitation.Count}}</strong>
								</div>

								<div class="hidden-xl-down col-hd-3 col-fhd-3">
									<strong>{{invitation.TicketPerUser}}</strong>
								</div>
							</div>
						</div>
					</app-responsive-table>
				</div>

				<div class="o-list-view__footer" *ngIf="!noDataInContent && showPagination">
					<app-pagination size="xs" (changeEvent)="changePageSize($event)" [options]="pageSizes" [totalItem]=count [showItemPerPage]="pageSize" [currentPage]="currentPage" (transistPage)="transistPage($event)"></app-pagination>
				</div>
			</div>
		</div>

		<div aside>
			<div class="p-group">
				<!--header-->
				<div class="p-group__header">
					<div class="p-group__header-bar">
						<div class="p-group__header-title">
							BİLET İSTATİSTİKLERİ
						</div>

						<!--<div class="p-group__header-action">
							<a>Tümü</a>
						</div>-->
					</div>
				</div>

				<!--item-->
				<div class="p-group__item">
					<app-vertical-kv-list
						[sections]="[
							[
								{key: 'capacity', label: 'TOPLAM KAPASİTE', value: totalCapacity},
								{key: 'open', label: 'SATIŞA AÇIK', value: openCapacity}
							],
							[
								{key: 'sponsor', label: 'SPONSOR', value: SponsorInvitationCount, color: '60b313'},
								{key: 'individual', label: 'BİREYSEL', value: IndividualInvitationCount, color: 'ffc607'},
								{key: 'target', label: 'HEDEF KİTLE', value: TargetGroupInvitationCount, color: 'ea433e'}
							]
						]"></app-vertical-kv-list>
				</div>
			</div>
		</div>
	</app-collapsible-container>
</div>
