<span [hidden]="!isEditable">
    {{text}}, <span class="c-wide-col-basket-item__table-phone">{{phoneNumber | phoneFormat:true}}</span>

<i (click)="beginEdit(editText,editPhone)" class="icon__n icon__n--refresh icon__n--md"></i>
<span *ngIf="apiRespondOkForTheChange">
    <i [hidden]="isEdited" class="icon__n icon__n--check icon__n--md"></i>
</span>
</span>
<span [hidden]="isEditable" class="c-multi-inline__active">            
    <input #editText type="text" [value]="text" (keyup.enter)="reEdit(editText.value,phoneNumber)"> 
    <input #editPhone type="text" [value] ="phoneNumber" (keyup.enter)="reEdit(text,editPhone.value)">
    <i class="icon__n icon__n--keyboard_return icon__n--md" (click)="reEdit(editText.value,editPhone.value)"></i>                        
</span>