<app-dialog-box>

  <div #header class="c-dialog-box__header c-dialog-box__header--border c-dialog-box__header--padding">
    <div class="c-dialog-box__header-bar">
      <h1 class="c-dialog-box__header-title">
        {{title}}
      </h1>
      <div class="c-dialog-box__header-actions">
        <app-button (click)="tetherService.dismiss()" type="icon" icon="close" theme="secondary"></app-button>
      </div>
    </div>
  </div>

  <div #body class="c-dialog-box__body c-dialog-box__body--no-scroll c-dialog-box__body--no-footer c-dialog-box__body--no-padding ">
	  <div class="p-container p-container--inherit">
      <app-typeahead></app-typeahead>
	  </div>
  </div>

</app-dialog-box>