<div class="row o-filter-bar">
	<div class="col-sm-5">
		<app-inline-search-input placeholder='İşlemler Arasında Arayın'
			[isIconAlignLeft]='true'
			(onInputSave)="onInputChange($event)"
			(onInputChange)="onInputChange($event)">
		</app-inline-search-input>
	</div>

	<div class="col-sm-6 text-sm-center">
		<app-pill-group [pills]="pills" (selectPillFilterAction)="pillFilter($event)"></app-pill-group>
	</div>

	<div class="col-sm-5 float-sm-right">
		<div class="o-tab__button float-sm-right">
			<!--
			<app-selectbox class="margin-right-10" style="min-width:180px;"
				[options]="sortParams"
				(changeEvent)="toggleSortTitle($event)">
			</app-selectbox>
			-->
		</div>
	</div>
</div>

<div class="o-placeholder--multi_selection o-placeholder--multi_selection--changepos" [class.active]="isMultiSelectionActive">
	<app-multi-selection-bar
		(toggleSelectedItems)="selectAllItems($event)"
		(transistAction)="callSelectedItemsAction($event)"
		[selectedItems]="selectedItems"
		[actionButtons]="actionButtons"
		[numberOfTotalItem]="transactions.length">
	</app-multi-selection-bar>
</div>

<app-no-data *ngIf="noDataInContent"
	[ngClass]="{'main-loader': isLoading }"
	[icon]='{type: "icon", name: "location"}'
	[hasContainer]="true"
	style="max-width:50%; margin-top:30px"
	title="Aramanız ile eşleşen işlem kaydı bulunamadı"
	description="Arama kriterini değiştirerek yeniden deneyebilirsiniz"
	>
</app-no-data>

<div class="o-list-view" *ngIf="!noDataInContent">
	<div class="o-list-view__content">
		<app-responsive-table [ngClass]="{'main-loader': isLoading }">
			<div class="c-responsive-table__caption row">
				<div class="c-responsive-table__primary-column hidden-sm-down col-md-3">
					<app-sort-title sortTitle='İŞLEM ID' sortBy='RefId' [activeTitle]="entityService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
				</div>
				<div class="c-responsive-table__secondary-column hidden-sm-down col-md-13">
					<div class="col-md-8 col-lg-4 col-xl-4">
						<app-sort-title sortTitle='TERMİNAL ID' sortBy='TerminalId' [activeTitle]="entityService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
					</div>

					<div class="col-md-8 col-lg-4 col-xl-4">
						<app-sort-title sortTitle='MÜŞTERİ ADI' sortBy='MemberId' [activeTitle]="entityService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
					</div>

					<div class="hidden-md-down col-lg-4 col-xl-4">
						<app-sort-title sortTitle='TARİHİ' sortBy='PaymentDate' [activeTitle]="entityService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
					</div>

					<div class="hidden-md-down col-lg-4 col-xl-4">
						<app-sort-title sortTitle='BEDEL' sortBy='TotalAmount' [activeTitle]="entityService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
					</div>
				</div>
			</div>

			<div class="c-responsive-table__row row" *ngFor="let transaction of transactions">
				<div class="c-responsive-table__primary-column col-sm-16 col-md-3">
					<div class="c-primary-column-line c-primary-column-line--with-select c-primary-column-line--with-avatar">
						<div class="c-primary-column-line__primary-content">
							<div class="c-primary-column-line__select">
								<app-checkbox theme="ligth" type="circle" [isChecked]="selectedItems.indexOf(transaction) > -1" (checkedAction)="selectItem($event, venue);"></app-checkbox>
							</div>

							<span class="c-primary-column-line__title">{{transaction.RefId}}</span>
						</div>

						<div class="c-primary-column-line__secondary-content">
							<div class="c-responsive-table__secondary-item hidden-md-up">
								<span class="c-responsive-table__secondary-item-label">TERMİNAL ID</span>
								<span class="c-responsive-table__secondary-item-value">
									<span class="text-nowrap">{{transaction.TerminalId}}</span>
								</span>
							</div>

							<div class="c-responsive-table__secondary-item hidden-md-up">
								<span class="c-responsive-table__secondary-item-label">SATIŞ KANALI</span>
								<span class="c-responsive-table__secondary-item-value">
									<span class="text-nowrap">{{transaction.SalesChannel?.Name}}</span>
								</span>
							</div>

							<div class="c-responsive-table__secondary-item hidden-md-up">
								<span class="c-responsive-table__secondary-item-label">ALT SATIŞ KANALI</span>
								<span class="c-responsive-table__secondary-item-value">
									<span class="text-nowrap">{{transaction.SalesSubChannel?.Name}}</span>
								</span>
							</div>

							<div class="c-responsive-table__secondary-item hidden-md-up">
								<span class="c-responsive-table__secondary-item-label">MÜŞTERİ ADI</span>
								<span class="c-responsive-table__secondary-item-value">{{transaction.MemberId}}</span>
							</div>

							<div class="c-responsive-table__secondary-item hidden-lg-up">
								<span class="c-responsive-table__secondary-item-label">TARİHİ</span>
								<span class="c-responsive-table__secondary-item-value">{{transaction.PaymentDate | relativeDate}}</span>
							</div>

							<div class="c-responsive-table__secondary-item hidden-lg-up">
								<span class="c-responsive-table__secondary-item-label">BEDEL</span>
								<span class="c-responsive-table__secondary-item-value">{{transaction.TotalAmount | number:'1.2-2'}} {{transaction.Currency?.Code}}</span>
							</div>
						</div>
					</div>
				</div>

				<div class="c-responsive-table__secondary-column hidden-sm-down col-md-13">
					<div class="col-md-8 col-lg-4 col-xl-4">
						<span class="text"><strong>Terminal ID:</strong> {{transaction.TerminalId}}</span>
						<span class="c-primary-column-line__sub-title"><strong>Kanal:</strong> {{transaction.SalesChannel?.Name}}</span>
						<span class="c-primary-column-line__sub-title"><strong>Alt Kanal:</strong> {{transaction.SalesSubChannel?.Name}}</span>
					</div>

					<div class="col-md-8 col-lg-4 col-xl-4">
						<span class="text">{{transaction.MemberId}}</span>
					</div>

					<div class="hidden-md-down col-lg-4 col-xl-4">
						<span class="text">{{transaction.PaymentDate | relativeDate}}</span>
					</div>

					<div class="hidden-md-down col-lg-4 col-xl-4">
						<span class="text">{{transaction.TotalAmount | number:'1.2-2'}} {{transaction.Currency?.Code}}</span>
					</div>
				</div>

				<!--
				<div class="c-responsive-table__action-btn" (click)="openContextMenu($event,venue)">
					<i class="icon__n icon__n--md icon__n--more_vert"></i>
				</div>
				-->
			</div>
		</app-responsive-table>
	</div>

	<div class="o-list-view__footer">
		<app-pagination size="xs"
			[options]="pageSizes"
			[totalItem]="count"
			[showItemPerPage]="pageSize"
			[currentPage]="currentPage"
			(changeEvent)="changePageSize($event)"
			(transistPage)="transistPage($event)">
		</app-pagination>
	</div>
</div>
