<div class="or-performance-products">
    <app-collapsible-container theme="gray" [isAsideOpen]="true" [asideWidth]="240">
        <div content>

            <!--Header-->
            <div class="p-header p-header--border">
                <span class="margin-right-5">Ürünler</span>
                <!--<app-button type="icon" icon="plus" shape="circle" theme="secondary" size="lg"></app-button>-->
            </div>

            <!--Container-->

            <div class="p-container" [class.p-container--promising]="isLoading">
                <!--Group-->
                <div class="p-group">
                    <ul class="or-performance-products__list">
                        <li *ngFor="let product of products">
                            <app-product-item-line 
                                (actionEvent)="productActionHandler($event)"
                                [actions]="[
                                    {action:'edit', label: 'Düzenle', params: {id: product.Id}}
                                ]"
                                [product]="product" [name]="product?.Localization?.Name"  [isViewOnly]="true" [price]="product.CurrentPrice" [currency]="product.Currency.Code" [id]="product.Id">
                                <div subtitle>
                                    <time datetime="10-10-2016 22:00">{{product.SalesEndDate | relativeDate}}</time>'a kadar satışta
                                </div>
                            </app-product-item-line>
                        </li>
                    </ul>
                </div>
            </div>
            <app-no-data *ngIf="products.length == 0" style="max-width: 60%;margin-top:30px" [hasContainer]="true" [icon]='{type: "icon", name: "performance"}' title="Seçtiğiniz performansa ait ürün kaydı bulunamadı" description=""></app-no-data>
        </div>

        <div aside>
            <div class="p-group">
                <!--header-->
                <div class="p-group__header">
                    <div class="p-group__header-bar">
                        <div class="p-group__header-title">
                            AYARLAR
                        </div>
                    </div>
                </div>

                <!--item-->
                <div class="p-group__item">
                    <div class="p-group__list">
                        <div class="p-group__list-item">
                            <label for="" class="p-group__list-item-label">Yayınla</label>
                            <div class="p-group__list-item-action">
                                <app-checkbox type="lightswitch" theme="dark"></app-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="p-group">
                <!--header-->
                <div class="p-group__header">
                    <div class="p-group__header-bar">
                        <div class="p-group__header-title">
                            BİLET İSTATİSTİKLERİ
                        </div>

                        <!--<div class="p-group__header-action">
                            <a>Tümü</a>
                        </div>-->
                    </div>
                </div>

                <!--item-->
                <div class="p-group__item">
                    <app-vertical-kv-list
                        [sections]="[
                            [
                                {key: 'capacity', label: 'TOPLAM KAPASİTE', value: totalCapacity},
                                {key: 'sold', label: 'SATILAN', value: soldTicketCount},
                                {key: 'remain', label: 'KALAN', value: openCapacity}
                            ]
                        ]"></app-vertical-kv-list>
                </div>

                <div class="p-group__item">
                    <div class="c-cta-box c-cta-box--dark">
                        <i class="c-cta-box__icon icon__n icon__n--announcement"></i>
                        <p class="c-cta-box__content"><i>Program bilgisi oluşturulmamış </i> <b>Program bilgisini oluşturmak ister misiniz?</b></p>
                        <a href="#" class="c-cta-box__action-link">İÇERİK YÖNETİMİNE GİT</a>
                    </div>
                    <!-- /.c-call-tor-action-box -->
                </div>
            </div>
        </div>
    </app-collapsible-container>
</div>
