<div class="c-selectbox__field">
    <select 
      type="number" 
      [(ngModel)]="value" 
      [disabled]="isDisabled"
      (focus)="onFocus()"
      (focusout)="onFocusOut()" 
      (ngModelChange)="changeHandler($event)">
    <option
      *ngFor="let option of options; let i = index;"
      [attr.selected]="selectedIndex === i ? true : null"
      [ngValue]="option.value" [disabled]="option.value == '-1' ? true : null">{{option.text}}</option>
  </select>
</div>