<div class="o-placeholder--multi_selection o-placeholder--multi_selection--changepos" [class.active]="isMultiSelectionActive">
    <app-multi-selection-bar (toggleSelectedItems)="selectAllItems($event)" (transistAction)="callSelectedItemsAction($event)" [selectedItems]="selectedItems" [actionButtons]="actionButtons" [numberOfTotalItem]="count">
    </app-multi-selection-bar>
</div>

<div class="container" *ngIf="performerService.viewType.isListViewActive">
    <div class="o-list-view">
        <div class="o-list-view__content">
            <app-responsive-table>
                <div class="c-responsive-table__caption row">
                    <div class="c-responsive-table__primary-column hidden-sm-down col-md-7 col-lg-5">
                        <app-sort-title sortTitle='SANATÇI ADI' sortBy='name' (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
                    </div>
                    <div class="c-responsive-table__secondary-column hidden-sm-down col-md-9 col-lg-11">
                        <div class="col-md-8 col-lg-6 col-xl-4">
                            <app-sort-title sortTitle='TİP' sortBy='type' (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
                        </div>
                        <div class="col-md-8 col-lg-6 col-xl-4">
                            <app-sort-title sortTitle='ÜLKE' sortBy='country' (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
                        </div>
                        <div class="hidden-md-down col-lg-4 col-xl-4">
                            <app-sort-title sortTitle='BAĞLANTILAR' sortBy='links' (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
                        </div>
                    </div>
                </div>
                <div *ngFor="let performer of performers" class="c-responsive-table__row row">
                    <div class="c-responsive-table__primary-column col-sm-16 col-md-7 col-lg-5">
                        <div class="c-primary-column-line c-primary-column-line--with-select c-primary-column-line--with-avatar">
                            <div class="c-primary-column-line__primary-content">
                                <div class="c-primary-column-line__select">
                                    <app-checkbox theme="ligth" type="circle" [isChecked]="selectedItems.indexOf(performer) > -1" (checkedAction)="selectItem($event, performer);"></app-checkbox>
                                </div>
                                <div class="c-primary-column-line__avatar">
                                    <app-avatar [letters]="performer?.Name?.charAt(0)" source="{{performer.Images | image: 'Performer'}}"></app-avatar>
                                </div>
                                <div class="c-primary-column-line__title">{{performer.Name}}</div>
                            </div>
                            <div class="c-primary-column-line__secondary-content">
                                <div class="c-responsive-table__secondary-item hidden-md-up">
                                    <span class="c-responsive-table__secondary-item-label">TİP</span>
                                    <span class="c-responsive-table__secondary-item-value" *ngIf="performer.Type === 'Band' || performer.Type === 'Singer'"> <i class="icon__n icon__n--audiotrack icon__n--md"></i>
                                    </span>
                                    <span class="c-responsive-table__secondary-item-value" *ngIf="performer.Type === 'Artist'"> <i class="icon__n icon__n--people icon__n--md"></i>
                                    </span>
                                </div>
                                <div class="c-responsive-table__secondary-item hidden-md-up">
                                    <span class="c-responsive-table__secondary-item-label">ÜLKE</span>
                                    <span class="c-responsive-table__secondary-item-value">-</span>
                                </div>
                                <div class="c-responsive-table__secondary-item hidden-lg-up">
                                    <span class="c-responsive-table__secondary-item-label"></span>
                                    <span class="c-responsive-table__secondary-item-value">Babylon</span>
                                </div>
                                <div class="c-responsive-table__secondary-item hidden-xl-up">
                                    <span class="c-responsive-table__secondary-item-label">KATEGORİ</span>
                                    <span class="c-responsive-table__secondary-item-value">PERFORMANS</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-responsive-table__secondary-column hidden-sm-down col-md-9 col-lg-11">
                        <div class="col-sm-9 col-md-8 col-lg-6 col-xl-4">
                            <i class="icon__n icon__n--audiotrack icon__n--md" *ngIf="performer.Type === 'Musician'"></i>
                            <i class="icon__n icon__n--people icon__n--md" *ngIf="performer.Type === 'Artist'"></i>
                        </div>
                        <div class="hidden-md-down col-lg-4 col-xl-4">
                            <span>-</span>
                        </div>
                        <div class="hidden-lg-down col-xl-4">
                            <app-inline-icon-group [performer]="performer"></app-inline-icon-group>
                        </div>
                        <div class="c-responsive-table__action-btn">
                            <i class="icon__n icon__n--md icon__n--more_vert"></i>
                        </div>
                    </div>
                </div>
            </app-responsive-table>
        </div>
        <div class="o-list-view__footer">
            <div class="container-fluid">
                <div class="col-xs-1">
                    <app-selectbox [options]="pageSizes" (changeEvent)="changePageSize($event)"></app-selectbox>
                </div>
                <div class="col-xs-14 text-xs-center">
                    <app-pagination [totalItem]=count [showItemPerPage]="5" [currentPage]=currentPage (transistPage)="transistPage($event)"></app-pagination>
                </div>
                <div class="col-xs-1"></div>
            </div>

        </div>
    </div>
</div>

<div class="o-card-view" *ngIf="performerService.viewType.isCardViewActive">
    <div class="o-card-view__content">
        <app-grid-list [isLoading]="isLoading">
            <li *ngFor="let performer of performers">
                <app-card-item
                    (actionEvent)="cardActionHandler($event)"
                    [data]="{entryType: 'performer', model: performer}"
                    [isSelected]="selectedItems.indexOf(performer) > -1" >
                    <app-inline-icon-group [performer]="performer"></app-inline-icon-group>
                </app-card-item>
            </li>
        </app-grid-list>
    </div>
    <div class="o-card-view__footer">
        <app-pagination size="lg" (changeEvent)="changePageSize($event)" [totalItem]=count [showItemPerPage]="pageSize" [currentPage]=currentPage (transistPage)="transistPage($event)"></app-pagination>
    </div>
</div>