<div class="or-venue-events" style="position: relative">
    <div class="p-header p-header--border">
        Etkinlikler
    </div>

    <div>
        <div class="row o-filter-bar">
            <div class="col-xs-5">
                <app-inline-search-input (onInputSave)="onInputChange($event)" (onInputChange)="onInputChange($event)" [isIconAlignLeft]='true' placeholder='Etkinlikler Arasında Arayın'></app-inline-search-input>
            </div>
            <div class="col-xs-6 text-xs-center">
                <app-pill-group [pills]="pills" (selectPillFilterAction)="filterEvents($event)"> </app-pill-group>
            </div>
            <div class="col-xs-5 float-xs-right">
                <div class="o-tab__button float-xs-right">
                    <app-sort-view [activeView]="activeView" (changeView)="changeView($event)"></app-sort-view>
                </div>
            </div>
            <!-- Selet Box Ends-->
        </div>

        <div class="o-placeholder--multi_selection o-placeholder--multi_selection--changepos" [class.active]="isMultiSelectionActive">
            <app-multi-selection-bar (toggleSelectedItems)="selectAllItems($event)" (transistAction)="callSelectedItemsAction($event)" [selectedItems]="selectedItems" [actionButtons]="actionButtons" [numberOfTotalItem]="events.length">
            </app-multi-selection-bar>
        </div>

        <app-no-data *ngIf="noDataInContent" style="max-width: 50%;margin-top:30px" [hasContainer]="true" title="Bu Mekana ait bir etkinlik kaydı bulunamadı" description="Arama kriterini değiştirerek yeniden deneyebilirsiniz"></app-no-data>

        <div class="o-list-view or-list-view-venue-events" [class.no-pagination]="!showPagination" *ngIf="eventService.viewType.isListViewActive && !noDataInContent">
            <div class="o-list-view__content">
                <app-responsive-table [ngClass]="{'main-loader': isLoading }">
                    <div class="c-responsive-table c-responsive-table--with-action-btn container-fluid">

                        <div class="c-responsive-table__caption row">

                            <div class="c-responsive-table__primary-column hidden-sm-down col-md-9 col-lg-7">
                                <app-sort-title sortTitle='ETKİNLİK ADI' sortBy='Name' [activeTitle]="eventService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
                            </div>

                            <div class="c-responsive-table__secondary-column hidden-sm-down col-md-7 col-lg-9">
                                <div class="col-md-8 col-lg-6 col-xl-4">
                                    <app-sort-title sortTitle='TARİHİ' sortBy='BeginDate' [activeTitle]="eventService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
                                </div>
                                <div class="col-md-8 col-lg-6 col-xl-4">
                                    <app-sort-title sortTitle='DURUM' sortBy='Status' [activeTitle]="eventService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
                                </div>
                                <!-- <div class="col-md-8 col-lg-6 col-xl-4">
                                    <span class="c-sort-title">KAPI AÇILIŞI</span>
                                </div> -->
                                <!-- <div class="hidden-md-down col-lg-4 col-xl-4">
                                    <span class="c-sort-title">MEKAN</span>
                                </div> -->
                                <!--<div class="hidden-lg-down col-xl-4">
                                    <span>KATEGORİ</span>
                                </div>-->

                            </div>
                        </div>
                        <div *ngFor="let event of events;" class="c-responsive-table__row row">

                            <div class="c-responsive-table__primary-column col-sm-16 col-md-9 col-lg-7">

                                <div class="c-primary-column-line c-primary-column-line--with-select c-primary-column-line--with-avatar">

                                    <div class="c-primary-column-line__primary-content">

                                        <div class="c-primary-column-line__select">
                                            <app-checkbox theme="ligth" [isChecked]="selectedItems.indexOf(event) > -1" (checkedAction)="selectItem($event, event);"></app-checkbox>
                                        </div>
                                        <div class="c-primary-column-line__avatar">
                                            <app-avatar [letters]="event?.Name?.charAt(0)" source="{{event.Images | image: 'Event'}}"></app-avatar>
                                        </div>
                                        <a class="c-primary-column-line__title" [routerLink]="['/event',event.Id]">
                                        {{event.Name}} <span *ngIf="event.PerformanceCount">({{event.PerformanceCount}})</span></a>

                                    </div>

                                    <div class="c-primary-column-line__secondary-content">

                                        <div class="c-responsive-table__secondary-item hidden-md-up">
                                            <span class="c-responsive-table__secondary-item-label">TARİH</span>
                                            <span class="c-responsive-table__secondary-item-value">
											<span class="text-nowrap" [innerHTML]="relativeDate.transform([event.BeginDate, event.EndDate])"></span>
                                            </span>
                                        </div>
                                        <div class="c-responsive-table__secondary-item hidden-md-up">
                                            <span class="c-responsive-table__secondary-item-label">DURUM</span>
                                            <span class="c-responsive-table__secondary-item-value">{{eventStatus[event.Status] | enumTranslator}}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="c-responsive-table__secondary-column hidden-sm-down col-md-7 col-lg-9">

                                <div class="col-sm-9 col-md-8 col-lg-6 col-xl-4">
                                    <span class="text-nowrap" [innerHTML]="relativeDate.transform([event.BeginDate, event.EndDate])"></span>
                                </div>
                                <div class="col-sm-9 col-md-8 col-lg-6 col-xl-4">
                                    <span *ngIf="event.Status == 2"><strong>{{ eventStatus[event.Status] | enumTranslator}} :</strong> <span [innerHTML]="getDateParts(event.SalesBeginDate)"></span></span>
                                    <span *ngIf="event.Status != 2">{{eventStatus[event.Status] | enumTranslator}}</span>
                                </div>
                                <!--<div class="hidden-lg-down col-xl-4">
                                    <span *ngFor="let attr of event.AttributeList">
                        				<template [ngIf]="attr.Name">{{attr.Name}}</template>
                                	</span>
                                </div>-->

                            </div>

                            <div class="c-responsive-table__action-btn" (click)="openEventsContextMenu($event, event)">
                                <i class="icon__n icon__n--md icon__n--more_vert"></i>
                            </div>

                        </div>

                    </div>
                </app-responsive-table>
            </div>

            <div class="o-list-view__footer" *ngIf="!noDataInContent && showPagination">
                <app-pagination size="xs" (changeEvent)="changePageSize($event)" *ngIf="showPagination" [options]="pageSizes" [totalItem]=count [showItemPerPage]="pageSize" [currentPage]="currentPage" (transistPage)="transistPage($event)"></app-pagination>
            </div>
        </div>

        <div class="o-card-view" *ngIf="eventService.viewType.isCardViewActive && !noDataInContent">
            <div class="o-card-view__content">
                <app-grid-list [ngClass]="{'main-loader': isLoading }">
                    <li *ngFor="let event of events">
                        <app-card-item [isActive]="event.Status == eventStatus['OnSale']" (actionEvent)="cardActionHandler($event)" [data]="{entryType: 'event', model: event}" [isSelected]="selectedItems.indexOf(event) > -1">
                        </app-card-item>
                    </li>
                </app-grid-list>
            </div>

            <div class="o-card-view__footer" *ngIf="!noDataInContent && showPagination">
                <app-pagination size=" lg " (changeEvent)="changePageSize($event) " *ngIf="showPagination " [totalItem]=count [showItemPerPage]="pageSize " [currentPage]="currentPage" (transistPage)="transistPage($event) "></app-pagination>
            </div>
        </div>
    </div>
</div>
