<a href="#" (click)="toggle('list')" class="c-sort-view__item" [class.c-sort-view__item--active]="isListViewActive"><i class="icon__n icon__n--list"></i></a>
<a href="#" (click)="toggle('card')" class="c-sort-view__item c-sort-view__item__box" [class.c-sort-view__item--active]="isCardViewActive"><i class="icon__n icon__n--grid"></i></a>
