<!--
<div class="o-placeholder--multi_selection o-placeholder--multi_selection--changepos" [class.active]="isMultiSelectionActive">
    <app-multi-selection-bar (toggleSelectedItems)="selectAllItems($event)" (transistAction)="callSelectedItemsAction($event)" [selectedItems]="selectedItems" [actionButtons]="actionButtons" [numberOfTotalItem]="performers.length">
    </app-multi-selection-bar>
</div>
-->
<app-no-data *ngIf="noDataInContent" style="max-width: 50%;margin-top:30px" [icon]='{type: "icon", name: "microphone"}' [hasContainer]="true" title="Aramanız ile eşleşen sanatçı kaydı bulunamadı" description="Arama kriterini değiştirerek yeniden deneyebilirsiniz"></app-no-data>

<div class="container" *ngIf="performerService.viewType.isListViewActive && !noDataInContent">
    <div class="o-list-view">
        <div class="o-list-view__content">
            <app-responsive-table [ngClass]="{'main-loader': isLoading }">
                <div class="c-responsive-table c-responsive-table--with-action-btn container-fluid">
                    <div class="c-responsive-table__caption row">
                        <div class="c-responsive-table__primary-column hidden-sm-down col-md-7 col-lg-5">
                            <app-sort-title sortTitle='SANATÇI ADI' sortBy='PerformerName' [activeTitle]="performerService.queryParamSubject" (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
                        </div>

                        <div class="c-responsive-table__secondary-column hidden-sm-down col-md-9 col-lg-11">
                            <div class="col-md-8 col-lg-6 col-xl-4">
                                <!--<span>TİP</span>-->
                            </div>
                        </div>
                    </div>

                    <div *ngFor="let performer of performers" class="c-responsive-table__row row">
                        <div class="c-responsive-table__primary-column col-sm-16 col-md-7 col-lg-5">
                            <div class="c-primary-column-line c-primary-column-line--with-select c-primary-column-line--with-avatar">
                                <div class="c-primary-column-line__primary-content">
                                    <!--                                    <div class="c-primary-column-line__select">
                                        <app-checkbox theme="ligth" type="circle" [isChecked]="selectedItems.indexOf(performer) > -1" (checkedAction)="selectItem($event, performer);"></app-checkbox>
                                    </div>-->
                                    <div class="c-primary-column-line__avatar">
                                        <app-avatar [letters]="performer?.PerformerName?.charAt(0)" source="{{performer.Images | image: 'Performer'}}"></app-avatar>
                                    </div>
                                    <div class="c-primary-column-line__title">{{performer.PerformerName}}</div>
                                </div>
                                <div class="c-primary-column-line__secondary-content">
                                    <!--<div class="c-responsive-table__secondary-item hidden-md-up">
                                        <span class="c-responsive-table__secondary-item-label">TİP</span>
                                        <span class="c-responsive-table__secondary-item-value" *ngFor="let attr of performer.AttributeList">
                        					<template [ngIf]="attr.Name">{{attr.Name}}</template>
                        					<i class="icon__n icon__n--audiotrack icon__n--md"></i>
                                		</span>
                                    </div>-->
                                </div>
                            </div>
                        </div>

                        <div class="c-responsive-table__secondary-column hidden-sm-down col-md-9 col-lg-11">
                            <!--<div class="col-sm-9 col-md-8 col-lg-6 col-xl-4">
                                <i class="icon__n icon__n--audiotrack icon__n--md" *ngFor="let attr of performer.AttributeList">
                                	<template [ngIf]="attr.Name">{{attr.Name}}</template>
                                </i>
                            </div>-->

                            <div class="c-responsive-table__action-btn" (click)="openPerformerContextMenu($event, performer)">
                                <i class="icon__n icon__n--md icon__n--more_vert"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </app-responsive-table>
        </div>

        <div class="o-list-view__footer" *ngIf="!noDataInContent">
            <app-pagination size="xs" (changeEvent)="changePageSize($event)" *ngIf="showPagination" [options]="pageSizes" [totalItem]=count [showItemPerPage]="pageSize" [currentPage]="currentPage" (transistPage)="transistPage($event)"></app-pagination>
        </div>
    </div>
</div>

<div class="o-card-view" *ngIf="performerService.viewType.isCardViewActive && !noDataInContent ">
    <div class="o-card-view__content">
        <app-grid-list [ngClass]="{'main-loader': isLoading }">
            <li *ngFor="let performer of performers">
                <app-card-item gotoButtonLabel="DÜZENLE" (actionEvent)="cardActionHandler($event)" [data]="{entryType: 'performer', model: performer}" [isSelected]="selectedItems.indexOf(performer) > -1">
                </app-card-item>
            </li>
        </app-grid-list>
    </div>

    <div class="o-card-view__footer" *ngIf="!noDataInContent">
        <app-pagination size="lg" (changeEvent)="changePageSize($event)" *ngIf="showPagination" [totalItem]=count [showItemPerPage]="pageSize" [currentPage]="currentPage" (transistPage)="transistPage($event)"></app-pagination>
    </div>
</div>
