<div class="container">
    <div class="p-header-bar">
        <div class="p-header-bar__left">
            <app-breadcrumb [breadcrumbs]="[{title:'ARAMA SONUÇLARI '},{title:'Lorem Ipsum',link:'/events'}]">
            </app-breadcrumb>
        </div>
    </div>
</div>

<app-button (click)="feedback()">Feedback Button</app-button>

<app-button (click)='confirm()'>Confirm Button</app-button>

<app-button (click)="alert()" [isPromising]="true">Alert Button</app-button>

<app-button (click)="openContext($event)" type="icon" icon="more_vert"></app-button>


<div style="padding: 30px">
	<app-text-input-with-select></app-text-input-with-select>
</div>
