<div class="p-header p-header--border">
    <span class="margin-right-5">Oturma Düzenleri</span>
    <!--<app-button (click)="openSeatingArrangementCreate()" type="icon" icon="plus" shape="circle" theme="secondary" size="lg"></app-button>-->
    <app-button [routerLink]="['/venue',pageID ,'template','create' ]" type="icon" icon="plus" shape="circle" theme="secondary" size="lg"></app-button>
</div>
<div style="position:relative;">
    <app-no-data [ngClass]="{'main-loader': isLoading }" *ngIf="noDataInContent" style="max-width: 50%;margin-top:30px" [hasContainer]="true" [icon]='{type: "icon", name: "event_seat"}' title="Bu Mekana ait bir oturma düzeni kaydı bulunamadı" description="Arama kriterini değiştirerek yeniden deneyebilirsiniz"></app-no-data>

    <div class="p-container" *ngIf="!noDataInContent">
        <!--o-card-view-->
        <div class="o-card-view__content">
            <app-grid-list [ngClass]="{'main-loader': isLoading }">
                <li *ngFor="let template of templates">
                    <app-card-item (actionEvent)="cardActionHandler($event)" [data]="{entryType: 'template', model: template}" [isActive]="template.IsActive">
                    </app-card-item>
                </li>
            </app-grid-list>
        </div>
        <div class="o-card-view__footer">
            <app-pagination size="lg" (changeEvent)="changePageSize($event)" *ngIf="showPagination" [totalItem]=count [showItemPerPage]="pageSize" [currentPage]="currentPage" (transistPage)="transistPage($event)"></app-pagination>
        </div>
    </div>
    <div>