<div class="or-performance-group-sale">
	<app-collapsible-container theme="gray" [isAsideOpen]="true" [asideWidth]="240" [isLoading]="isLoading">
		<div content>
			<!--Header-->
			<div class="p-header p-header--border">
				<span class="margin-right-5">Grup Satış</span>
			</div>

			<div class="p-full-content">
        		<app-venue-template-editor *ngIf="performance"
					role="group_sales"
					(editorEvent)="venueEditorEventHandler($event)"
					[performanceId]="performance?.Id" >
				</app-venue-template-editor>
			</div>
		</div>
    <div aside>
			<div class="p-group">
				<!--header-->
				<div class="p-group__header">
					<div class="p-group__header-bar">
						<div class="p-group__header-title">
							İSTATİSTİKLER & BİLDİRİMLER
						</div>
					</div>
				</div>

				<!--item-->
				<div class="p-group__item">
					<app-vertical-kv-list
						[sections]="statistics"
					></app-vertical-kv-list>
				</div>
			</div>

			<div class="p-group" *ngIf="!selectedOnSaleSeats?.length">
				<!--item-->
				<div class="p-group__item">
					<app-cta-box>
						<div class="c-cta-box c-cta-box--dark">
							<i class="c-cta-box__icon icon__n icon__n--announcement"></i>
							<p class="c-cta-box__content">
								<i>Koltuk seçimi Yapılmamış.</i> <br/>
								<b>Grup satış</b> yapmak istediğiniz koltukları seçin
							</p>
						</div>
					</app-cta-box>
				</div>
			</div>

			<div class="p-group" *ngIf="selectedOnSaleSeats?.length">
				<!--item-->
				<div class="p-group__item">
					<app-action-box
						[title]="selectedOnSaleSeats?.length + ' Adet Koltuk Seçtiniz'"
						[description]="'Bu koltukları grup halinde satmak istiyor musunuz?'"
            			[buttons]="[
							{label: 'GRUP SATIŞ YAP', action: 'makeGroupSale', theme: 'secondary', params:{target: selectedOnSaleSeats}}
						]"
						(actionEvent)="actionBoxActionHandler($event)"
					>
					</app-action-box>
				</div>
			</div>

		</div>
	</app-collapsible-container>
</div>
