<div class="oc-related-content">
  <app-dialog-box>
    <!--Header-->
    <div #header class="c-dialog-box__header c-dialog-box__header--border c-dialog-box__header--padding">
        <div class="c-dialog-box__header-bar">
            <h1 class="c-dialog-box__header-title">
                Sanatçı Bilgileri
            </h1>
            <div class="c-dialog-box__header-actions">
                <!--Kapat butonu dahil bütün diğer action butonları burada tanımlanır-->
                <a href="#" (click)="tetherService.dismiss()" class="icon__n icon__n--close"></a>
            </div>
        </div>
    </div><!-- /.c-dialog-box_header -->

    <!--Body-->
    <div #body class="c-dialog-box__body">
        <div class="c-dialog-box__body-row--space"></div>
        <div class="c-mini-card">
          <div class="c-mini-card__figure">
            <span class="c-avatar c-avatar--circle">
              <figure>
                <img src="http://lorempixel.com/40/40/people/4" alt="">
              </figure>
            </span>
          </div>
          <div class="c-mini-card__info">
            Nick Cave & The Bad Seeds
          </div>

          <div class="c-mini-card__icons hidden-md-down">
            <i class="icon__n icon__n--audiotrack"></i>
            <i class="icon__n icon__n--people"></i>
          </div>

          <div class="c-mini-card__sub-caption hidden-lg-down">
            İngiltere
          </div>

          <div class="c-mini-card__action-area">
            <i class="icon__n icon__n--more_vert"></i>
          </div>
        </div>
        <!--end c-mini-card-->

        <div class="c-dialog-box__body-row--space2x"></div>
        <div class="c-dialog-box__body-group-header">
          <div class="c-dialog-box__body-group-header-title">
            İlişkili İçerikler
          </div>
          <div class="c-dialog-box__body-group-header-action">
            <a href="#" class="btn btn-secondary">İÇERİK EKLE</a>
          </div>
        </div>

        <div class="oc-related-content__table">
          <div class="c-responsive-table c-responsive-table--with-action-btn container-fluid">
            <div class="c-responsive-table__caption row">

              <div class="c-responsive-table__primary-column hidden-sm-down col-md-9 col-lg-9">
                <span class="c-sort-title">İÇERİK BAŞLIĞI</span>
              </div>

              <div class="c-responsive-table__secondary-column hidden-sm-down col-md-7 col-lg-7">
                <div class="row">
                  <div class="col-md-8 col-lg-6">
                    <span class="c-sort-title">BİÇİM</span>
                  </div>

                  <div class="col-md-8 col-lg-6 offset-lg-4">
                    <span class="c-sort-title">BAĞ</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="c-responsive-table__row row">
                <div class="c-responsive-table__primary-column col-sm-16 col-md-9 col-lg-9">
                  <div class="c-primary-column-line c-primary-column-line--with-select">

                      <div class="c-primary-column-line__primary-content">
                        <div class="c-primary-column-line__select">
                          <span class="c-checkbox">
                            <input type="checkbox">
                            <span class="c-checkbox__indicator"></span>
                          </span>
                        </div>

                        <div class="c-primary-column-line__title">
                          <span class="c-primary-column-line__primary-title">Nick Cave & The Bad Seeds Roportajı</span>
                          <span class="c-primary-column-line__secondary-title">23 Eylül 2016, 22:00, <a href="#">Altuğ Canıtez</a></span>
                        </div>
                      </div>

                      <div class="c-primary-column-line__secondary-content">
                        <div class="c-responsive-table__secondary-item hidden-md-up">
                          <span class="c-responsive-table__secondary-item-label">BİÇİM</span>
                          <span class="c-responsive-table__secondary-item-value"><span class="text-nowrap">Sanatçı Tanıtımı</span></span>
                        </div>

                        <div class="c-responsive-table__secondary-item hidden-md-up">
                          <span class="c-responsive-table__secondary-item-label">BAĞ</span>
                          <span class="c-responsive-table__secondary-item-value">Sanatçı</span>
                        </div>
                      </div>
                  </div>
                </div>

                <div class="c-responsive-table__secondary-column hidden-sm-down col-md-7 col-lg-7">
                  <div class="row">
                    <div class="col-sm-9 col-md-8 col-lg-6">
                      <span class="text-nowrap">Sanatçı Tanıtımı</span>
                    </div>

                    <div class="col-sm-9 col-md-8 col-lg-6 offset-lg-4">
                      <span>Sanatçı</span>
                    </div>
                  </div>
                </div>

                <div class="c-responsive-table__action-btn">
                  <i class="icon__n icon__n--md icon__n--more_vert"></i>
                </div>
            </div><!-- /.c-responsive-table__row -->

            <div class="c-responsive-table__row row">
                <div class="c-responsive-table__primary-column col-sm-16 col-md-9 col-lg-9">
                  <div class="c-primary-column-line c-primary-column-line--with-select">

                      <div class="c-primary-column-line__primary-content">
                        <div class="c-primary-column-line__select">
                          <span class="c-checkbox">
                            <input type="checkbox">
                            <span class="c-checkbox__indicator"></span>
                          </span>
                        </div>

                        <div class="c-primary-column-line__title">
                          <span class="c-primary-column-line__primary-title">Skeleton Tree Albüm İncelemesi</span>
                          <span class="c-primary-column-line__secondary-title">23 Eylül 2016, 22:00, <a href="#">Altuğ Canıtez</a></span>
                        </div>
                      </div>

                      <div class="c-primary-column-line__secondary-content">
                        <div class="c-responsive-table__secondary-item hidden-md-up">
                          <span class="c-responsive-table__secondary-item-label">BİÇİM</span>
                          <span class="c-responsive-table__secondary-item-value"><span class="text-nowrap">Albüm Tanıtımı</span></span>
                        </div>

                        <div class="c-responsive-table__secondary-item hidden-md-up">
                          <span class="c-responsive-table__secondary-item-label">BAĞ</span>
                          <span class="c-responsive-table__secondary-item-value">Sanatçı</span>
                        </div>
                      </div>
                  </div>
                </div>

                <div class="c-responsive-table__secondary-column hidden-sm-down col-md-7 col-lg-7">
                  <div class="row">
                    <div class="col-sm-9 col-md-8 col-lg-6">
                      <span class="text-nowrap">Albüm Tanıtımı</span>
                    </div>

                    <div class="col-sm-9 col-md-8 col-lg-6 offset-lg-4">
                      <span>Sanatçı</span>
                    </div>
                  </div>
                </div>

                <div class="c-responsive-table__action-btn">
                  <i class="icon__n icon__n--md icon__n--more_vert"></i>
                </div>
            </div><!-- /.c-responsive-table__row -->

            <div class="c-responsive-table__row row">
                <div class="c-responsive-table__primary-column col-sm-16 col-md-9 col-lg-9">
                  <div class="c-primary-column-line c-primary-column-line--with-select">

                      <div class="c-primary-column-line__primary-content">
                        <div class="c-primary-column-line__select">
                          <span class="c-checkbox">
                            <input type="checkbox">
                            <span class="c-checkbox__indicator"></span>
                          </span>
                        </div>

                        <div class="c-primary-column-line__title">
                          <span class="c-primary-column-line__primary-title">Nick Cave & The Bad Seeds Sanatçı İncelemesi</span>
                          <span class="c-primary-column-line__secondary-title">23 Eylül 2016, 22:00, <a href="#">Altuğ Canıtez</a></span>
                        </div>
                      </div>

                      <div class="c-primary-column-line__secondary-content">
                        <div class="c-responsive-table__secondary-item hidden-md-up">
                          <span class="c-responsive-table__secondary-item-label">BİÇİM</span>
                          <span class="c-responsive-table__secondary-item-value"><span class="text-nowrap">Sanatçı Tanıtımı</span></span>
                        </div>

                        <div class="c-responsive-table__secondary-item hidden-md-up">
                          <span class="c-responsive-table__secondary-item-label">BAĞ</span>
                          <span class="c-responsive-table__secondary-item-value">Sanatçı</span>
                        </div>
                      </div>
                  </div>
                </div>

                <div class="c-responsive-table__secondary-column hidden-sm-down col-md-7 col-lg-7">
                  <div class="row">
                    <div class="col-sm-9 col-md-8 col-lg-6">
                      <span class="text-nowrap">Sanatçı Tanıtımı</span>
                    </div>

                    <div class="col-sm-9 col-md-8 col-lg-6 offset-lg-4">
                      <span>Sanatçı</span>
                    </div>
                  </div>
                </div>

                <div class="c-responsive-table__action-btn">
                  <i class="icon__n icon__n--md icon__n--more_vert"></i>
                </div>
            </div><!-- /.c-responsive-table__row -->

            <div class="c-responsive-table__row row">
                <div class="c-responsive-table__primary-column col-sm-16 col-md-9 col-lg-9">
                  <div class="c-primary-column-line c-primary-column-line--with-select">

                      <div class="c-primary-column-line__primary-content">
                        <div class="c-primary-column-line__select">
                          <span class="c-checkbox">
                            <input type="checkbox">
                            <span class="c-checkbox__indicator"></span>
                          </span>
                        </div>

                        <div class="c-primary-column-line__title">
                          <span class="c-primary-column-line__primary-title">VW Arena’da Nick Cave Rüzgarı</span>
                          <span class="c-primary-column-line__secondary-title">23 Eylül 2016, 22:00, <a href="#">Altuğ Canıtez</a></span>
                        </div>
                      </div>

                      <div class="c-primary-column-line__secondary-content">
                        <div class="c-responsive-table__secondary-item hidden-md-up">
                          <span class="c-responsive-table__secondary-item-label">BİÇİM</span>
                          <span class="c-responsive-table__secondary-item-value"><span class="text-nowrap">Haber</span></span>
                        </div>

                        <div class="c-responsive-table__secondary-item hidden-md-up">
                          <span class="c-responsive-table__secondary-item-label">BAĞ</span>
                          <span class="c-responsive-table__secondary-item-value">Mekan, Sanatçı</span>
                        </div>
                      </div>
                  </div>
                </div>

                <div class="c-responsive-table__secondary-column hidden-sm-down col-md-7 col-lg-7">
                  <div class="row">
                    <div class="col-sm-9 col-md-8 col-lg-6">
                      <span class="text-nowrap">Haber</span>
                    </div>

                    <div class="col-sm-9 col-md-8 col-lg-6 offset-lg-4">
                      <span>Mekan, Sanatçı</span>
                    </div>
                  </div>
                </div>

                <div class="c-responsive-table__action-btn">
                  <i class="icon__n icon__n--md icon__n--more_vert"></i>
                </div>
            </div><!-- /.c-responsive-table__row -->

          </div><!-- /.c-responsive-table -->
        </div><!-- /.oc-related-content__table -->

    </div><!-- /.c-dialog-box__body -->
  </app-dialog-box>
</div><!-- /.oc-related-content -->
