<ul class="c-over-image-stats-grid">
	<li *ngFor="let item of data;" class="c-over-image-stats-grid__item">
		<span class="c-over-image-stats-grid__item__value">{{item.value}}</span>
		{{item.label}}
	</li>
</ul>