<div class="c-attributes-select-add-bar__container">
  <div class="c-attributes-select-add-bar__attributes"
    *ngIf="attributes?.length > 0" >
    <app-tag-group
      [tags]="attributes"
      (actionEvent)="tagActionEvent($event)"
      ></app-tag-group>
  </div>
  <div class="c-attributes-select-add-bar__types">
    <app-basic-button-group
      (actionEvent)="typeActionHandler($event)"
      iconName="plus"
      [actions]="types"
      theme="primary"
      ></app-basic-button-group>
  </div>
</div>