<div class="row o-filter-bar">
    <!-- Inline Search Starts -->
    <div class="col-sm-5">
        <app-inline-search-input (onInputSave)="onInputChange($event)" (onInputChange)="onInputChange($event)" [isIconAlignLeft]='true' placeholder='Mekanlar Arasında Arayın'></app-inline-search-input>
        <!-- Inline Search Ends -->
    </div>

    <div class="col-sm-6 text-sm-center">
        <app-pill-group [pills]="pills" [selectedPill]="pills[0]" (selectPillFilterAction)="filterVenues($event)"> </app-pill-group>
    </div>

    <div class="col-sm-5 float-sm-right">
        <div class="o-tab__button float-sm-right">
            <app-button (click)="goToLink('venue/create')">YENİ MEKAN OLUŞTUR</app-button>
            <app-sort-view [activeView]="activeView" (changeView)="changeView($event)"></app-sort-view>
        </div>
    </div>
    <!-- Selet Box Ends-->
</div>

<div class="o-placeholder--multi_selection o-placeholder--multi_selection--changepos" [class.active]="isMultiSelectionActive">
    <app-multi-selection-bar (toggleSelectedItems)="selectAllItems($event)" (transistAction)="callSelectedItemsAction($event)" [selectedItems]="selectedItems" [actionButtons]="actionButtons" [numberOfTotalItem]="venues.length">
    </app-multi-selection-bar>
</div>

<app-no-data [ngClass]="{'main-loader': isLoading }" *ngIf="noDataInContent" style="max-width: 50%;margin-top:30px" [icon]='{type: "icon", name: "location"}' [hasContainer]="true" title="Aramanız ile eşleşen mekan kaydı bulunamadı" description="Arama kriterini değiştirerek yeniden deneyebilirsiniz"></app-no-data>

<div class="o-card-view" *ngIf="venueService.viewType.isCardViewActive && !noDataInContent">
    <div class="o-card-view__content" style="margin-top: 4px">
        <app-grid-list [ngClass]="{'main-loader': isLoading }">
            <li *ngFor="let venue of venues">
                <app-card-item
                    [actions]="[
                        { label: 'Düzenle', icon:'edit', action: 'editVenue', parameters: { venueId: venue.Id } },
                        {
                            label: venue.IsActive == true ? 'Durdur' : 'Aktif Et',
                            icon: venue.IsActive == true ? 'visibility_off' : 'visibility',
                            action: venue.IsActive == true ? 'deActivate' : 'activate',
                            parameters: { venueId: venue.Id }
                        }
                    ]"
                    (actionEvent)="cardActionHandler($event)"
                    [isActive]="venue.IsActive"
                    [data]="{entryType: 'venue', model: venue}"></app-card-item>
            </li>
        </app-grid-list>
    </div>
    <div class="o-card-view__footer" *ngIf="!noDataInContent && showPagination">
        <app-pagination size="lg" (changeEvent)="changePageSize($event)" *ngIf="showPagination" [totalItem]=count [showItemPerPage]="pageSize" [currentPage]="currentPage" (transistPage)="transistPage($event)"></app-pagination>
    </div>
</div>


<div class="o-list-view" *ngIf="venueService.viewType.isListViewActive && !noDataInContent">
    <div class="o-list-view__content">
        <app-responsive-table [ngClass]="{'main-loader': isLoading }">
            <div class="c-responsive-table__caption row">
                <div class="c-responsive-table__primary-column hidden-sm-down col-md-7 col-lg-5">
                    <app-sort-title sortTitle='MEKAN ADI' sortBy='Name' (toggleSortTitle)="toggleSortTitle($event)"></app-sort-title>
                </div>
                <div class="c-responsive-table__secondary-column hidden-sm-down col-md-5 col-lg-11">
                    <div class="col-md-8 col-lg-6 col-xl-4">
                        <span>ADRES</span>
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4">
                        <span>TELEFON</span>
                    </div>
                    <div class="hidden-md-down col-lg-4 col-xl-4">
                        <span>WEB</span>
                    </div>
                </div>
            </div>
            <div *ngFor="let venue of venues" class="c-responsive-table__row row">
                <div class="c-responsive-table__primary-column col-sm-16 col-md-9 col-lg-5">
                    <div class="c-primary-column-line c-primary-column-line--with-select c-primary-column-line--with-avatar">
                        <div class="c-primary-column-line__primary-content">
                            <!--                           <div class="c-primary-column-line__select">
                                <app-checkbox theme="ligth" type="circle" [isChecked]="selectedItems.indexOf(venue) > -1" (checkedAction)="selectItem($event, venue);"></app-checkbox>
                            </div>-->
                            <div class="c-primary-column-line__avatar">
                                <app-avatar [letters]="venue?.Name?.charAt(0)" source="{{venue.Images | image: 'Venue'}}"></app-avatar>
                            </div>
                            <a class="c-primary-column-line__title" [routerLink]="['/venue', venue.Id, 'events']">
                                {{venue.Name}}
                            </a>
                        </div>
                        <div class="c-primary-column-line__secondary-content">

                            <div class="c-responsive-table__secondary-item hidden-md-up">
                                <span class="c-responsive-table__secondary-item-label">ADRES</span>
                                <span class="c-responsive-table__secondary-item-value">
                                      <span class="text-nowrap">
                                        {{venue.VenueLocationInfo.TownName}} /
                                        {{venue.VenueLocationInfo.CityName}} /
                                        {{venue.VenueLocationInfo.CountryName}}
                                      </span>
                                </span>
                            </div>

                            <div class="c-responsive-table__secondary-item hidden-md-up">
                                <span class="c-responsive-table__secondary-item-label">TELEFON</span>
                                <span class="c-responsive-table__secondary-item-value">{{venue.Phone|phoneFormat}}</span>
                            </div>

                            <div class="c-responsive-table__secondary-item hidden-lg-up">
                                <span class="c-responsive-table__secondary-item-label">WEB</span>
                                <span class="c-responsive-table__secondary-item-value">{{venue.WebUrl}}</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="c-responsive-table__secondary-column hidden-sm-down col-md-7 col-lg-11">
                    <div class="col-sm-9 col-md-8 col-lg-6 col-xl-4">
                        <span class="text">
                              {{venue.VenueLocationInfo.TownName}} /
                                {{venue.VenueLocationInfo.CityName}} /
                                {{venue.VenueLocationInfo.CountryName}}
                            </span>
                    </div>
                    <div class="hidden-md-down col-lg-4 col-xl-4">
                        <span>{{venue.Phone|phoneFormat}}</span>
                    </div>
                    <div class="hidden-lg-down col-xl-4">
                        <span><a target="_blank" [attr.href]="venue.WebUrl" target="_blank">{{venue.WebUrl}}</a></span>
                    </div>

                </div>
                <div class="c-responsive-table__action-btn" (click)="openContext($event,venue)">
                    <i class="icon__n icon__n--md icon__n--more_vert"></i>
                </div>
            </div>
        </app-responsive-table>
    </div>
    <div class="o-list-view__footer">
        <app-pagination size="xs" [options]="pageSizes" (changeEvent)="changePageSize($event)" [totalItem]=count [showItemPerPage]="pageSize" [currentPage]="currentPage" (transistPage)="transistPage($event)"></app-pagination>
    </div>
</div>
