<div class="c-promise-icon__container">
	<i *ngIf = iconName class="icon__n icon__n--{{iconName}}"></i>
	<ng-content *ngIf = !iconName ></ng-content>
</div>
<div class="c-promise-icon__spinner c-promise-icon__spinner">
	<div #blade class="c-promise-icon__spinner-blade"></div>
	<div #blade class="c-promise-icon__spinner-blade"></div>
	<div #blade class="c-promise-icon__spinner-blade"></div>
	<div #blade class="c-promise-icon__spinner-blade"></div>
	<div #blade class="c-promise-icon__spinner-blade"></div>
	<div #blade class="c-promise-icon__spinner-blade"></div>
	<div #blade class="c-promise-icon__spinner-blade"></div>
	<div #blade class="c-promise-icon__spinner-blade"></div>
	<div #blade class="c-promise-icon__spinner-blade"></div>
	<div #blade class="c-promise-icon__spinner-blade"></div>
	<div #blade class="c-promise-icon__spinner-blade"></div>
	<div #blade class="c-promise-icon__spinner-blade"></div>
</div>
