<div class="c-primary-column-line">
	<div class="c-primary-column-line__primary-content">

		<div class="c-primary-column-line__title">Kraak & Smaak Live. Powered by Lenovo</div>

	</div>

	<div class="c-primary-column-line__secondary-content">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis lacinia libero at lacinia. Consectetur adipiscing elit. Nam venenatis lacinia libero at lacinia.
	</div>
</div>