<div #content class="c-collapsible-container__content"
  [class.c-collapsible-container__content--nopadding]="contentHasNoPadding">
  <ng-content select="[content]"></ng-content>
</div>

<div #aside class="c-collapsible-container__aside" 
  [class.c-collapsible-container__aside--expanded]="isAsideOpen"
  [class.c-collapsible-container__aside--nopadding]="asideHasNoPadding">
  <div class="c-collapsible-container__aside-inner">
    <ng-content select="[aside]"></ng-content>
  </div>
  <a (click)="toggleAside()" class="c-collapsible-container__toggle-btn" > <i class="icon-open icon__n icon__n--first_page"></i> <i class="icon-close icon__n icon__n--last_page"></i></a>
</div>

<div *ngIf="hasOverlay" class="p-overlay"></div>