<div class="c-main-menu__header">
    <!-- Main Logo Starts -->
    <div class="c-main-menu__logo">
        <span class="c-main-menu__logo--max">

        <img src="assets/images/logo/nirvana.png"/>
      </span>
        <span class="c-main-menu__logo--min">
        <img src="assets/images/logo/nirvana-min.png"/>
      </span>
    </div>
    <!-- Main Logo Ends -->
</div>
<div class="c-main-menu__content" >
    <div class="c-main-menu__title">
        <i class="c-main-menu__title-icon"></i>
        <span class="c-main-menu--title-label">KISAYOLLAR</span>
    </div>
    <!-- Side Menu Starts -->
    <ul class="c-main-menu__list" *ngIf="items && items.length > 0">

        <!--        <li class="c-main-menu__list-item" routerLinkActive="c-main-menu__list-item--active" *ngFor="let item of items; let i = index">
            <span *ngIf="item.submenu" (click)="openEventsContextMenu($event,i)">
            <a>
                <i class="c-main-menu__list-item-icon icon__n icon__n--{{item.icon}}"></i>
                <span class="c-main-menu__list-item-label">{{item.label}}</span>
            </a>
            </span>
            <a [routerLink]="item.routerLink" *ngIf="!item.submenu">
                <i class="c-main-menu__list-item-icon icon__n icon__n--{{item.icon}}"></i>
                <span class="c-main-menu__list-item-label">{{item.label}}</span>
            </a>
        </li>-->
        <div *ngFor="let item of items; let i = index">
            <li (click)="openEventsContextMenu($event,i)" *ngIf="item.submenu && item.submenu.length > 0" routerLinkActive="c-main-menu__list-item--active" class="c-main-menu__list-item">
                <a>
                    <i class="c-main-menu__list-item-icon icon__n icon__n--{{item.icon}}"></i>
                    <span class="c-main-menu__list-item-label">{{item.label}}</span>
                </a>
            </li>
            <li [routerLink]="item.routerLink" routerLinkActive="c-main-menu__list-item--active" class="c-main-menu__list-item" *ngIf="item.submenu.length == 0  && !item.routerLink == '' ">
                <a>
                    <i class="c-main-menu__list-item-icon icon__n icon__n--{{item.icon}}"></i>
                    <span class="c-main-menu__list-item-label">{{item.label}}</span>
                </a>
            </li>
            <!-- Router Linkler Boş ise -->
            <li *ngIf="item.routerLink == '' && item.submenu.length == 0" class="c-main-menu__list-item c-main-menu__list-item--disabled">
                <a>
                    <i class="c-main-menu__list-item-icon icon__n icon__n--{{item.icon}}"></i>
                    <span class="c-main-menu__list-item-label">{{item.label}}</span>
                </a>
            </li>
        </div>
    </ul>
    <!-- Side Menu End-->
</div>

<div class="c-main-menu__footer">
    <span class="c-main-menu__toggle-btn" [class.c-light-switch--on]="isSideMenuCollapsed" (click)="toggle()"></span>
    <span class="c-main-menu__toggle-label">DARALT</span>
</div>