<div class="c-venue-select-bar__container">
  <div *ngIf="isEmpty">
    <app-button 
      (click)="searchVenue()"
      theme="secondary">{{settings.addLabel}}</app-button>
  </div>
  <div *ngIf="!isEmpty" class="c-venue-select-bar__item">
    <span class="c-venue-select-bar__item-avatar">
      <app-avatar 
        [source]="venue?.Image" icon="location"></app-avatar>
    </span>
    <span class="c-venue-select-bar__item-title">
      {{venue?.Name || venue?.Localization?.Name}}<span class="c-venue-select-bar__item-description"> - {{template?.Name || template?.Localization?.Name}}</span>
    </span>
    
    <span class="c-venue-select-bar__item-action">
      <app-button (click)="searchVenue()" type="icon" icon="replay" theme="secondary" size="autosize"></app-button>
    </span>
    
  </div>
</div>