<div class="c-header-search-bar__header">
    <div class="c-header-search-bar__header-title">ARAYIN</div>
    <div class="c-header-search-bar__close-btn" (click)="tetherService.dismiss()"> <i class="icon__n icon__n--close"></i>
    </div>
  </div>

  <div class="c-header-search-bar__content">
    <app-typeahead></app-typeahead>
  </div>

  <div class="c-header-search-bar__footer">
    <div class="c-header-search-bar__more-btn" (click)="submit()">
      <app-promise-icon [iconName] = 'null' size='autosize'>
        <span>DAHA FAZLA SONUÇ GÖSTER</span>
      </app-promise-icon>
    </div>
  </div>