<div class="c-typeahead__search-box">
	<span #extraField class="c-typeahead__search-box-left" [class.c-typeahead__search-box-left--empty]="!hasContent">
		<ng-content></ng-content>
	</span>
	<span class="c-typeahead__search-box-right">
		<app-text-input
				(typeEvent)="typeEventHandler($event)"
				(changeEvent)="changeEventHandler($event)"
				(dismissEvent)="dismissEventHandler($event)"
				[dismissOnFocusOut]="false"
				[dismissOnEscape]="false"
				[isTypeEmitting]="true"
				type="search"
				theme="underline"
				[placeholder]="searchPlaceholder"
				[value]="searchValue"
				[icon]="searchIcon"
				[isPromising]="isPromising"
				></app-text-input>
	</span>
</div>

<div *ngIf="hasResult"  class="c-typeahead__result-box">
	<div *ngFor="let group of results | async" class="c-typeahead__result-group">
		<div class="c-typeahead__result-group-title">{{group.title}}</div>
		<ul class="c-typeahead__result-list">
			<li *ngFor="let item of group.list" 
				class="c-typeahead__result-list-item"
				[class.c-typeahead__result-list-item--selected] = item.selected
				[class.c-typeahead__result-list-item--disabled] = item.disabled
				(click)="item.disabled ? null : resultClick(item, $event)">
				<span *ngIf=item.icon class="c-typeahead__result-list-item-icon">
					<i class="icon__n icon__n--{{item.icon}}"></i>
				</span>
				<span class="c-typeahead__result-list-item-content">
					<span class="c-typeahead__result-list-item-content--primary">{{item.title}}</span>
					<span *ngIf=item.description 
						class="c-typeahead__result-list-item-content--secondary"
						[innerHTML] = item.description >
					</span>
				</span>
			</li>
		</ul>
	</div>
</div>

<div *ngIf="!hasResult && !searchValue || searchValue?.length == 0"  class="c-typeahead__result-box c-typeahead__result-box--empty">
	<div class="c-typeahead__result-init-title">ARAMA SONUÇLARI</div>
	<div class="c-typeahead__result-init-description">Yukaridaki arama kutusunu kullanarak aramanızı başlatın. Sonuçlar dinamik olarak görüntülenecektir.</div>
</div>


<div *ngIf="!hasResult && searchValue?.length > 0  && feedback != null && !isPromising"  class="c-typeahead__result-box c-typeahead__result-box--feedback">
	<app-no-data
		[icon]='feedback.icon'
		[action]='feedback.action'
		(actionEvent)="emitAction(feedback.action)"
		[title]="feedback.title"
		[description]="feedback.description"></app-no-data>
</div>