<ul class="c-data-source-list c-data-source-list--edit-mode">
	<li class="c-data-source-list__item c-data-source-list__item--selected">
		<span class="c-data-source-list__name">
			<i class="c-data-source-list__icon c-data-source-list__item-reorder icon__n icon__n--dehaze"></i>
			Music Brainz
		</span>
		<a href="#" class="c-data-source-list__actions c-data-source-list__add"><i class="icon__n icon__n--add"></i></a>
		<a href="#" class="c-data-source-list__connect"><span>Bağla</span> <i class="icon__n icon__n--link"></i></a>
	</li>
	<li class="c-data-source-list__item c-data-source-list__item--filled">
		<span class="c-data-source-list__name">
			<i class="c-data-source-list__icon c-data-source-list__item-reorder icon__n icon__n--dehaze"></i>
			Last FM
		</span>
		<span class="c-data-source-list__source">http://www.last.fm/tr/music/Nick+Cave+&+The+Bad+Seeds</span>
		<a href="#" class="c-data-source-list__connect"><span>Bağla</span> <i class="icon__n icon__n--link"></i></a>
	</li>
	<li class="c-data-source-list__item c-data-source-list__item--filled is-selected">
		<span class="c-data-source-list__name">
			<i class="c-data-source-list__icon c-data-source-list__item-reorder icon__n icon__n--dehaze"></i>
			Spotify
		</span>
		<span class="c-data-source-list__source">https://open.spotify.com/artist/4UXJsSlnKd7ltsrHebV79Q</span>
		<a href="#" class="c-data-source-list__actions c-data-source-list__remove"><i class="icon__n icon__n--close"></i></a>
		<a href="#" class="c-data-source-list__connect"><span>Bağla</span> <i class="icon__n icon__n--link"></i></a>
	</li>
	<li class="c-data-source-list__item">
		<span class="c-data-source-list__name">
			<i class="c-data-source-list__icon c-data-source-list__item-reorder icon__n icon__n--dehaze"></i>
			IMDB
		</span>
		<a href="#" class="c-data-source-list__connect"><span>Bağla</span> <i class="icon__n icon__n--link"></i></a>
	</li>
	<li class="c-data-source-list__item c-data-source-list__item--selected">
		<span class="c-data-source-list__name">
			<i class="c-data-source-list__icon c-data-source-list__item-reorder icon__n icon__n--dehaze"></i>
			Sound Cloud
		</span>
		<a href="#" class="c-data-source-list__actions c-data-source-list__add"><i class="icon__n icon__n--add"></i></a>
		<a href="#" class="c-data-source-list__connect"><span>Bağla</span> <i class="icon__n icon__n--link"></i></a>
	</li>
	<li class="c-data-source-list__more">
			<a href="javascript:;"></a>
			<div class="c-promise-icon c-promise-icon--sm">
				<div class="c-promise-icon__before">
					<i class="icon__n icon__n--more_horiz"></i>
				</div>
				<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
					<div class="c-promise-icon__spinner-blade"></div>
				</div>
				<div class="c-promise-icon__after">
					<i class="icon__n icon__n--more_horiz"></i>
				</div>
			</div>
	</li>
</ul>