<app-dialog-box>
	<div #header class="c-dialog-box__header c-dialog-box__header--padding c-dialog-box__header--border">
		<div class="c-dialog-box__header-bar">
			<h1 class="c-dialog-box__header-title">
				Grup Satış İçin Kontak Kişi Bilgileri
			</h1>
			<div class="c-dialog-box__header-actions">
				<app-button (click)="tetherService.dismiss()" type="icon" icon="close" theme="secondary"></app-button>
			</div>
		</div>
	</div>

	<div #body class="c-dialog-box__body c-dialog-box__body--no-scroll  c-dialog-box__body--no-padding">
		<div class="p-container">
			<form [formGroup]="contactForm">
				<div class="p-gorup">

					<div class="p-group__item row">
						<div class="p-formgroup col-xs-16">
							<div class="p-form-group__label">
								FİRMA ADI<sup>*</sup>
							</div>
							<div class="p-form-group__input">
								<app-text-input placeholder="FİRMA" [form]="contactForm" name="FirmName" [required]='true'></app-text-input>
							</div>
						</div>
					</div>

					<div class="p-group__item row">
						<div class="p-formgroup col-xs-8 padding-right-15">
							<div class="p-form-group__label">
								ADI<sup>*</sup>
							</div>
							<div class="p-form-group__input">
								<app-text-input placeholder="Adınız" [form]="contactForm" name="Name" [required]='true'></app-text-input>
							</div>
						</div>
						<div class="p-formgroup col-xs-8 padding-left-15">
							<div class="p-form-group__label">
								SOYADI<sup>*</sup>
							</div>
							<div class="p-form-group__input">
								<app-text-input placeholder="Soyadınız" [form]="contactForm" name="Surname" [required]='true'></app-text-input>
							</div>
						</div>
					</div>

					<div class="p-group__item row">
						<div class="p-formgroup col-xs-8 padding-right-15">
							<div class="p-form-group__label">
								GSM NO<sup>*</sup>
							</div>
							<div class="p-form-group__input">
								<app-text-input type="tel" placeholder="Telefon Numaranız" [form]="contactForm" name="PhoneNumber" [required]='true'></app-text-input>
							</div>
						</div>
						<div class="p-formgroup col-xs-8 padding-left-15">
							<div class="p-form-group__label">
								E-POSTA ADRESİ<sup>*</sup>
							</div>
							<div class="p-form-group__input">
								<app-text-input type="email" placeholder="@" [form]="contactForm" name="Email" [required]='true'></app-text-input>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div #footer class="c-dialog-box__footer row">
		<div class="c-dialog-box__footer-content">
			<div class="col-xs-16">
				<app-button class="full-width" [isDisabled]="!contactForm?.valid" (clickEvent)="sendFormData($event)" theme="primary" label="KAYDET"></app-button>
			</div>
		</div>
	</div>
</app-dialog-box>
