<div class="c-field-search-bar">

	<div class="c-field-search-bar__header">
		<div class="c-field-search-bar__header-title">ARAYIN</div>
		<div class="c-field-search-bar__close-btn"> <i class="icon__n icon__n--close"></i>
		</div>
	</div>

	<div class="c-field-search-bar__content">
		<div class="c-typeahead">
			<div class="c-typeahead__search-box">
				<!-- Inline Search Input -->
				<div class="c-inline-search-input c-inline-search-input--border">
					<div class="input-group">

						<input type="text" class="form-control" placeholder="Etkinlikler Arasında Arayın" aria-describedby="basic-addon1">
						<div class="c-inline-search-input__icon">
							<div class="c-promise-icon ">
								<div class="c-promise-icon__before"> <i class="icon__n icon__n--search"></i>
								</div>
								<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<app-typeahead></app-typeahead>
		</div>
	</div>
</div>