<div class="o-collapsible-container__aside-inner">
	<ng-content></ng-content>
</div>
<!-- /.o-collapsible-container__aside-inner -->

<a (click)="toggle()" class="o-collapsible-container__toggle-btn" > <i class="icon-open icon__n icon__n--first_page"></i> <i class="icon-close icon__n icon__n--last_page"></i>
</a>