<app-fullscreen-cover backgroundColor="#3e3e3e" backgroundImage="assets/images/backgrounds/login-back.jpg">

    <template [ngIf]='!isAuthenticatedUser'>
    
    <app-auth-dialog-box #self 
      headerLogo = "assets/images/logo/nirvana-login.png"
      headerBackgroundColor = "#362F66"
      (submitEvent)='authSubmitEventHandler($event)'>
        
          <h1 class="padding-bottom-20">Giriş Yapın</h1>

          <div *ngIf="authAlert" class="alert alert-{{ authAlert.type }}">
            <h1 [innerHTML]='authAlert.title'></h1>
            <p [innerHTML]='authAlert.description'></p>
          </div>

          <form 
            [formGroup]="self.authForm">
            <app-text-input
              theme="underline"
              class="margin-bottom-20"
              [form]="self.authForm"
              name="username"
              [required]='true'
              placeholder="Kullanıcı Adı (POZFirmAdmin / nirvana2)"
              icon="person" ></app-text-input>
            <app-text-input
              theme="underline"
              type="password"
              class="margin-bottom-20"
              [form]="self.authForm"
              name="password"
              placeholder="Şifre (nirvana2)"
              icon="lock" ></app-text-input>
          </form>
          
          <div class="row text-xs-right">
            <a routerLink="/login/password-recovery">Şifremi Unuttum</a>
          </div>

          <button footer 
            (click)="self.submit()" 
            [disabled]="self.authForm.disabled"
            class="btn">DEVAM ET</button> <!-- footer directive is a container -->

    </app-auth-dialog-box>

  </template>

    <template [ngIf]='isAuthenticatedUser'>
    
    <app-auth-dialog-box #self 
      headerLogo = "assets/images/logo/nirvana.png"
      headerBackgroundColor = "#EE4C42"
      *ngIf='advanceMessage != null'
      (submitEvent)='advanceAuthSubmitEventHandler($event)'>
        
          <h1 class="padding-bottom-20">Kasa Avansı</h1>

          <p [innerHTML]='advanceMessage'
            class="margin-bottom-20"></p>

          <form 
            [formGroup]="self.authForm">
            <app-text-input
              class="margin-bottom-20"
              [form]="self.authForm"
              name="advanceAmount"
              [required]='true'
              placeholder="Kasa avans miktarını girin (>1000)"
              icon="cash-multiple" ></app-text-input>
          </form>

          <button footer 
            (click)="self.submit()" 
            [disabled]="self.authForm.disabled"
            class="btn">DEVAM ET</button> <!-- footer directive is a container -->

    </app-auth-dialog-box>

  </template>

</app-fullscreen-cover>