<app-split-container [fixedWidth]="480" *ngIf="result">
    <div fluid>
        <div class="p-header-bar">
            <div class="boxoffice-bar">
                <h3>Sepet Detayı</h3>
            </div>
            <!--
            <div right>
                <span><strong>Sepet Id</strong><em> 1234564561 </em></span>
            </div>
            -->
        </div>
        <div class="p-container">
            <div class="p-group">
                <div class="p-group__header">
                    <div class="p-group__header-bar">
                        <div class="p-group__header-title">
                            Ürünler
                        </div>
                    </div>
                </div>
                <div class="p-group__item full-width" *ngFor="let event of result.Events">
                    <app-wide-col-basket-item [data]="event"></app-wide-col-basket-item>
                </div>

            </div>
        </div>
    </div>
    <div fixed>
        <div class="p-container">
            <div class="p-group" >
            	<app-multiple-payment-block (paymentActionEvent)='paymentActionHandler($event)'></app-multiple-payment-block>
            </div>
            <!-- /.p-group -->
        </div>
        <!-- /.p-container -->
    </div>

    <!-- /.o-split-container__fixed -->
</app-split-container>