<template [ngIf] = "items && items.length">
    <div class="c-tab-bar__left">
        <ul class="c-tab-bar__content">
            <li *ngFor="let item of items" 
                class="c-tab-bar__item">
                <a [routerLink]="item.routerLink"
                    [routerLinkActive] = "['c-tab-bar__item-link--active']"
                    class="c-tab-bar__item-link">{{item.label}}</a>
            </li>
        </ul>
    </div>
    <div class="c-tab-bar__right">
        <ng-content select="[right]"></ng-content>
    </div>
</template>
<template [ngIf] = "!items">
    <div class="c-tab-bar__left">
        <ul class="c-tab-bar__content">
            <ng-content></ng-content>
        </ul>
    </div>
    <div class="c-tab-bar__right">
        <ng-content select="[right]"></ng-content>
    </div>
</template>