<app-dialog-box [class.c-dialog-box--narrow]="isNarrow" *ngIf="!addUser">

    <div #header class="c-dialog-box__header c-dialog-box__header--padding" [class.c-dialog-box__header--border]="!isNarrow">
        <div class="c-dialog-box__header-bar">
            <h1 class="c-dialog-box__header-title">
                {{titleCase}}
            </h1>
            <div class="c-dialog-box__header-actions">
                <app-button (click)="tetherService.dismiss()" type="icon" icon="close" theme="secondary"></app-button>
            </div>
        </div>
    </div>

    <div #body class="c-dialog-box__body c-dialog-box__body--no-scroll c-dialog-box__body--no-footer c-dialog-box__body--no-padding ">
        <div class="p-container p-container--inherit">
            <app-typeahead (actionEvent)="actionEvent.emit($event)"
            			[multiActionType]="true"
            			(changeViewEvent)="addingAllowed($event)"
            			[showActionField]="true"
            			(searchEvent)="search($event)"
            			(resultEvent)="resultHandler($event)"
            			(dismissEvent)="dismissHandler($event)"
                		[searchPlaceholder]="settings.search.placeholder"
                		[feedback]="settings.search.feedback"
                		[presets]="presets"
                		[searchResults]="searchResults"
                		[isPromising]="isPromising"
                		(changeInputTypeEvent)="searchType($event)"
                		[options]="[{'text':'İsim ile','value': '1'},
								{'text': 'GSM ile','value': '2'},
								{'text': 'E-posta ile','value': '3'}]"
                		>
            </app-typeahead>
            <!--<app-button label="Ekle" (click)="addingAllowed()"></app-button>-->
        </div>


    </div>
</app-dialog-box>

<app-dialog-box *ngIf="addUser">
    <div #header class="c-dialog-box__header c-dialog-box__header--padding" [class.c-dialog-box__header--border]="!isNarrow">
        <div class="c-dialog-box__header-bar">
            <h1 class="c-dialog-box__header-title">
                <!--{{titleCase}}-->Konuk Hesabı Ekle
            </h1>
            <div class="c-dialog-box__header-actions">
                <app-button (click)="tetherService.dismiss()" type="icon" icon="close" theme="secondary"></app-button>
            </div>
        </div>
    </div>
    <div #body class="c-dialog-box__body c-dialog-box__body--no-scroll  c-dialog-box__body--no-padding ">
        <div class="p-container p-container--inherit">
            <div class="p-gorup">
                <div class="p-group__item clearfix">
                    <div class="col-xs-8 padding-right-15">
                        <div class="p-form-group__label">
                            ADI<sup>*</sup>
                        </div>
                        <div class="p-form-group__input">
                            <app-text-input placeholder="Adınız" required="true" (changeEvent)="inputHandler($event,'name')"></app-text-input>
                        </div>
                    </div>
                    <div class="col-xs-8 padding-left-15">
                        <div class="p-form-group__label">
                            SOYADI<sup>*</sup>
                        </div>
                        <div class="p-form-group__input">
                            <app-text-input placeholder="Soyadınız" required="true" (changeEvent)="inputHandler($event,'surname')"></app-text-input>
                        </div>
                    </div>
                </div>
                <div class="p-group__item clearfix">
                    <div class="col-xs-8 padding-right-15">
                        <div class="p-form-group__label">
                            GSM NO
                        </div>
                        <div class="p-form-group__input">
                            <app-text-input placeholder="Telefon Numaranız" required="true" (changeEvent)="inputHandler($event,'phone')"></app-text-input>
                        </div>
<!--                        <div class="p-form-group__label margin-top-10">
                            <app-helper-text type="info">0XXX - XXX XXXX</app-helper-text>
                        </div>-->
                    </div>
                    <div class="col-xs-8 padding-left-15">
                        <div class="p-form-group__label">
                            E-POSTA ADRESİ
                        </div>
                        <div class="p-form-group__input">
                            <app-text-input placeholder="@" type="email" required="true" (changeEvent)="inputHandler($event,'email')"></app-text-input>
                        </div>
<!--                        <div class="p-form-group__label margin-top-10">
                            <app-helper-text type="info">Performansa ek bilgi girebilirsiniz.</app-helper-text>
                        </div>-->
                    </div>
                </div>
                <div class="p-group__item clearfix margin-top-15 full-width">
                    <app-city-town-selector (changeEvent)="townEvent($event)">
                        <div class="col-xs-16">
                            <div class="float-sm-left col-xs-8 padding-right-15">
                                <label for="il" class="col-sm-16 form-control-label">İL</label>
                                <app-selectbox #city></app-selectbox>
                            </div>
                            <div class="float-sm-left col-xs-8 padding-left-15">
                                <label for="ilce" class="col-sm-16 form-control-label">İLÇE </label>
                                <app-selectbox #town></app-selectbox>
                            </div>
                        </div>
                    </app-city-town-selector>
                </div>
            </div>
        </div>
    </div>
    <div #footer class="c-dialog-box__footer c-dialog-box__footer-no-scroll">
        <app-button class="full-width" style="position:relative;" [isDisabled]="!isValid" (clickEvent)="sendFormData($event)" theme="primary" label="EKLE"></app-button>
    </div>

	</app-dialog-box>