<ul class="c-inline-icon-group">
	<li *ngIf="performer.FacebookUrl">
		<a href="{{performer.FacebookUrl}}"><img src="../assets/images/temp/other.png" alt=""></a>
	<li>
	<li *ngIf="performer.SpotifyUrl">
		<a href="{{performer.SpotifyUrl}}"><img src="../assets/images/temp/spotify.png" alt=""></a>
	<li>
	<li *ngIf="performer.LastfmUrl">
		<a href="{{performer.LastfmUrl}}"><img src="../assets/images/temp/lastfm.png" alt=""></a>
	<li>
	<li *ngIf="performer.TwitterUrl">
		<a href="{{performer.TwitterUrl}}"><img src="../assets/images/temp/twitter.png" alt=""></a>
	<li>
	<li *ngIf="performer.YoutubeUrl">
		<a href="{{performer.YoutubeUrl}}"><img src="../assets/images/temp/youtube.png" alt=""></a>
	<li>
</ul>