<label class="custom-control custom-radio c-custom-radio-input">
	<input id="radio1" name="radio" type="radio" class="custom-control-input" checked>
	<span class="custom-control-indicator"></span>
	<span class="custom-control-description">Toggle this custom radio</span>
</label>