<div class="or-boxoffice">
    <app-collapsible-container [isAsideOpen]="true" [asideHasNoPadding]="true">

        <div content>
            <div class="p-container">
                <router-outlet></router-outlet>
            </div>
        </div>

        <div aside *ngIf="isAsideVisible">
            <div class="p-group">
                <app-narrow-client-display (userChangeEvent)="userEventCatch($event)"></app-narrow-client-display>
            </div>
            <div class="p-group" *ngIf="!cartItemsData || cartItemsData.length == 0">
                <app-narrow-inline-feedback [isInSide]="true" [countValue]='0' [iconName]="'ticket'" [iconAngle]="45" [title]="'<strong>Sepete henüz ürün eklenmemiş.</strong>'" [description]="'Ürünler arasından seçerek yeni ürün ekleyin'"></app-narrow-inline-feedback>
            </div>

            <div class="p-group margin-top-0 margin-bottom-70 full-width">
                <div class="p-group__item " style="padding:20px 20px 20px 20px;border-top:1px solid #dcdce5" *ngFor="let cartItems of cartItemsData">
                    <app-narrow-col-basket-item [data]="cartItems" (actionEvent)="handleBasketAction($event)"></app-narrow-col-basket-item>
                </div>
                <!--
				<div class="p-group__item text-xs-center">
					<a href="#" class="c-narrow-col-basket-item__add-code-button"><i class="icon__n icon__n--plus"> </i>REZERVASYON KODUYLA EKLE</a>
				</div>
				-->
            </div>
            <div class="c-collapsible-container__aside-footer" *ngIf="cartItemsData">
                <div class="c-collapsible-container__aside-footer-content">
                    <div class="col-xs-16">
                        <app-button (click)="goToBasket()">SEPETİ GÖSTER</app-button>
                        <app-button (click)="resetBasket()" type="icon" icon="delete" theme="light"></app-button>
                    </div>
                </div>
            </div>
        </div>
    </app-collapsible-container>
</div>