<div *ngIf="model">
{{model | log}}
    <div class="c-narrow-col-basket-item__title">{{model.type}}</div>
    <div class="c-narrow-col-basket-item__sub-title">{{model.title}}</div>
    <div class="c-narrow-col-basket-item__date">{{model.date}}</div>
    <div *ngIf='model.location' class="c-narrow-col-basket-item__location">{{model.location}}</div>

    <ul class="c-narrow-col-basket-item__list">
        <li *ngFor="let product of model.products" class="c-narrow-col-basket-item__list-item">
            <p class="c-narrow-col-basket-item__list-item-title">{{product.title}}</p>
           <a (click) = 'removeProduct(model, product)' href="#" class="c-narrow-col-basket-item__list-item-delete">
           	<i class="icon__n icon__n--delete"></i>
           </a>

            <div class="c-narrow-col-basket-item__list-item-action-bar">
                <span class="c-narrow-col-basket-item__list-item-price">{{product.price.amount}} <sup>{{product.price.currency}}</sup></span>
                <span class="c-narrow-col-basket-item__list-item-action">
        <!--
        <app-selectbox
          (changeEvent) = 'countChangeHandler(model, product, $event)'
          *ngIf='product.count'
          [value]='product.count.current'
          [numberRanges] = 'product.count'></app-selectbox>
		-->
		<span style="font-family: 'OpenSansSemiBold';font-size:13px">{{product.count}} Adet</span>
                <button (click)='updateProduct(model, product)' *ngIf='product.isCustom' class="btn btn-secondary">GÜNCELLE</button>

                </span>
            </div>


        </li>
    </ul>

</div>