<span class="tag tag-pill c-pill c-pill--active"
	[class.c-pill--active]="selectedPill == pill"
	(click)="toggle(pill)"
	*ngFor="let pill of pills">
	{{ pill.text }} <span class="tag tag-pill c-pill__bagde" *ngIf="pill.count">{{pill.count}}</span>
</span>
