<app-dialog-box [class.c-dialog-box--narrow]="isNarrow">

    <div #header class="c-dialog-box__header c-dialog-box__header--padding" [class.c-dialog-box__header--border]="!isNarrow">
        <div class="c-dialog-box__header-bar">
            <h1 class="c-dialog-box__header-title">
                {{titleCase}}
            </h1>
            <div class="c-dialog-box__header-actions">
                <app-button (click)="addUser ? hideGuestUserForm() : tetherService.dismiss()" type="icon" icon="close" theme="secondary"></app-button>
            </div>
        </div>
    </div>

    <div *ngIf="!addUser" class="c-dialog-box__body c-dialog-box__body--no-scroll c-dialog-box__body--no-footer c-dialog-box__body--no-padding ">
        <div class="p-container p-container--inherit">
            <app-typeahead 
                (actionEvent)="typeaheadActionHandler($event)" 
                (searchEvent)="search($event)" 
                (resultEvent)="resultHandler($event)" 
                (dismissEvent)="dismissHandler($event)"
                [searchPlaceholder]="selectedPlaceholder" 
                [feedback]="{
                        title: 'Aramanız ile eşleşen müşteri kaydı bulunamadı',
                        description: 'Kriteri değiştirip yeniden arama yapınız veya konuk hesabı ile giriniz.',
                        icon: {type:'icon',name:'person'},
                        action:{action:'showGuestUserForm',label:'KONUK HESABI EKLE'}
                    }" 
                [presets]="presets" 
                [searchResults]="searchResults" >
                <app-selectbox [value]="inputType" (changeEvent)="onSelectboxChange($event)" [options]="options"></app-selectbox>
            </app-typeahead>
            <div *ngIf="!(typeahead?.searchValue?.length > 0 && !typeahead?.hasResult && !typeahead?.isPromising)" class="c-customer-search-box__guest">
                <div class="c-customer-search-box__guest-left">
                    <span><i>ya da </i><b>konuk hesabı oluşturarak devam edin</b></span>
                </div>
                <div class="c-customer-search-box__guest-right">
                    <app-button theme="primary" (click)="showGuestUserForm()" label="KONUK HESABI OLUŞTUR"></app-button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="addUser" class="c-dialog-box__body c-dialog-box__body--no-scroll  c-dialog-box__body--no-padding ">
        <div class="p-container">
            <form [formGroup]="guestForm">
                <div class="p-gorup">
                    <div class="p-group__item row">
                        <div class="p-formgroup col-xs-8 padding-right-15">
                            <div class="p-form-group__label">
                                ADI<sup>*</sup>
                            </div>
                            <div class="p-form-group__input">
                                <app-text-input placeholder="Adınız" [form]="guestForm" name="Name" [required]='true'></app-text-input>
                            </div>
                        </div>
                        <div class="p-formgroup col-xs-8 padding-left-15">
                            <div class="p-form-group__label">
                                SOYADI<sup>*</sup>
                            </div>
                            <div class="p-form-group__input">
                                <app-text-input placeholder="Soyadınız" [form]="guestForm" name="Surname" [required]='true'></app-text-input>
                            </div>
                        </div>
                    </div>

                    <div class="p-group__item row">
                        <div class="p-formgroup col-xs-8 padding-right-15">
                            <div class="p-form-group__label">
                                GSM NO<sup>*</sup>
                            </div>
                            <div class="p-form-group__input">
                                <app-text-input type="tel" placeholder="Telefon Numaranız" [form]="guestForm" name="PhoneNumber" [required]='true'></app-text-input>
                            </div>
                        </div>
                        <div class="p-formgroup col-xs-8 padding-left-15">
                            <div class="p-form-group__label">
                                E-POSTA ADRESİ<sup>*</sup>
                            </div>
                            <div class="p-form-group__input">
                                <app-text-input type="email" placeholder="@" [form]="guestForm" name="Email" [required]='true'></app-text-input>
                            </div>
                        </div>
                    </div>

                    <div class="p-group__item row">
                        <app-city-town-selector [returnAsModel]="true" (changeEvent)="townEvent($event)">
                            <div class="col-xs-16">
                                <div class="float-sm-left col-xs-8 padding-right-15">
                                    <label for="il" class="col-sm-16 form-control-label">İL</label>
                                    <app-selectbox #city [form]="guestForm" name="City"></app-selectbox>
                                </div>
                                <div class="float-sm-left col-xs-8 padding-left-15">
                                    <label for="ilce" class="col-sm-16 form-control-label">İLÇE </label>
                                    <app-selectbox #town [form]="guestForm" name="Town"></app-selectbox>
                                </div>
                            </div>
                        </app-city-town-selector>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <div *ngIf="addUser" class="c-dialog-box__footer row">
        <div class="c-dialog-box__footer-content">
            <div class="col-xs-16">
                <app-button class="full-width" [isDisabled]="!guestForm.valid" (clickEvent)="sendFormData($event)" theme="primary" label="EKLE"></app-button>
            </div>
        </div>
    </div>
</app-dialog-box>
